[Desktop Entry]
Version=1.0
Name=Globo.com
Comment=News portal
Type=Application
Exec=chromium-browser http://www.globo.com/
Icon=eos-link-globo
Categories=News;
