[Desktop Entry]
Version=1.0
Name=Adoro Cinema
Comment=notícias, trailers e entrevistas
Type=Application
Exec=chromium-browser http://www.adorocinema.com/
Icon=eos-link-adorocinema
Categories=Entertainment;
X-Endless-ShowInAppStore=true
