[Desktop Entry]
Version=1.0
Name=Infojobs
Comment=Jobs guide
Type=Application
Exec=eos-exec-localized 'gvfs-open http://www.infojobs.com/' pt:'gvfs-open http://vagas.infojobs.com.br/' 
Icon=eos-link-infojobs
Categories=Education;Health;
X-Endless-LaunchMaximized=true
