[Desktop Entry]
Version=1.0
Name=UOL Esporte Tênis
Comment=Notícias de Tênis
Type=Application
Exec=gvfs-open http://esporte.uol.com.br/tenis
Icon=eos-link-uoltenis
Categories=Sports;
X-Endless-LaunchMaximized=true
