[Desktop Entry]
Version=1.0
Name=বিআরকেবি
Comment=ধান উৎপাদন প্রযুক্তি বিষয়ক তথ্য ভান্ডার
Type=Application
Exec=gio open http://knowledgebank-brri.org/
Icon=eos-link-brkb
Categories=Education;Health;
X-Endless-LaunchMaximized=true
