[Desktop Entry]
Version=1.0
Name=Kibe Loco
Comment=Blog de humor
Type=Application
Exec=gvfs-open http://kibeloco.com.br/
Icon=eos-link-kibeloco
Categories=Entertainment;
X-Endless-LaunchMaximized=true
