[Desktop Entry]
Version=1.0
Name=MAP
Comment=Mapa de Acciones Positivas
Type=Application
Exec=chromium-browser http://map.org.gt/
Icon=eos-link-map
Categories=Local;
X-Endless-ShowInAppStore=true
