[Desktop Entry]
Version=1.0
Name=National Geographic
Comment=Articles, photos & videos about nature
Type=Application
Exec=chromium-browser http://www.nationalgeographic.com
Icon=eos-link-natgeo
Categories=Entertainment;
