[Desktop Entry]
Version=1.0
Name=Galas de Guate
Comment=Fotos bellas de Guatemala
Type=Application
Exec=gio open http://www.galasdeguatemala.com/
Icon=eos-link-galasdeguatemala
Categories=Entertainment;
X-Endless-LaunchMaximized=true
