[Desktop Entry]
Version=1.0
Name=Notícias de Governo
Comment=News portal
Type=Application
Exec=chromium-browser http://www.brasil.gov.br/
Icon=eos-link-noticiasdegoverno
Categories=News;
X-Endless-ShowInAppStore=true
