[Desktop Entry]
Version=1.0
Name=Style X Style
Comment=Inspirasi mode, kecantikan, dan gaya hidup
Type=Application
Exec=gvfs-open http://www.stylexstyle.com/
Icon=eos-link-stylexstyle
Categories=Entertainment;
X-Endless-LaunchMaximized=true
