[Desktop Entry]
Version=1.0
Name=Tempo
Comment=Berita nasional dan dunia
Type=Application
Exec=gvfs-open https://www.tempo.co/
Icon=eos-link-tempo
Categories=News;
X-Endless-LaunchMaximized=true
