[Desktop Entry]
Version=1.0
Name=Delegacia
Comment=Segurança
Type=Application
Exec=chromium-browser http://www.policiacivil.rj.gov.br/delegacia.asp
Icon=eos-link-delegacias
Categories=Local;
X-Endless-ShowInAppStore=true
