[Desktop Entry]
Version=1.0
Name=必应词典
Comment=必应网上英语词典
Type=Application
Exec=gvfs-open webapp:cn.bing.com__dict@http://cn.bing.com/dict/
Icon=eos-link-bingdict
Categories=Education;Health;
StartupWMClass=cn.bing.com__dict
X-Endless-LaunchMaximized=true
