[Desktop Entry]
Version=1.0
Name=Extra
Comment=News portal
Type=Application
Exec=chromium-browser http://extra.globo.com/
Icon=eos-link-extra
Categories=News;
