[Desktop Entry]
Version=1.0
Name=Vestibular Brasil Escola
Comment=Apoio do ensino fundamental ao vestibular
Type=Application
Exec=gio open http://vestibular.brasilescola.com/
Icon=eos-link-brasilescola
Categories=Education;Health;
X-Endless-LaunchMaximized=true
