[Desktop Entry]
Version=1.0
Name=Viva Favela
Comment=Information
Type=Application
Exec=chromium-browser http://www.vivafavela.com.br/
Icon=eos-link-vivafavela
Categories=Local;
X-Endless-ShowInAppStore=true
