[Desktop Entry]
Version=1.0
Name=Around Antigua
Comment=Portal Turístico
Type=Application
Exec=chromium-browser http://aroundantigua.com/
Icon=eos-link-aroundantigua
Categories=Entertainment;
X-Endless-ShowInAppStore=true
