[Desktop Entry]
Version=1.0
Name=AfroReggae
Comment=Culture
Type=Application
Exec=chromium-browser http://www.afroreggae.org/
Icon=eos-link-afroreggae
Categories=Local;
X-Endless-ShowInAppStore=true
