[Desktop Entry]
Version=1.0
Name=Curriculum
Name[ar]=المنهاج
Name[bn]=পাঠ্যক্রম
Name[es]=Currículo
Name[fr]=Curriculum
Name[hi]=पाठ्यक्रम
Name[id]=Kurikulum
Name[pt_BR]=Currículo
Name[th]=หลักสูตร
Name[vi]=Chương trình giáo dục
Name[zh_CN]=课程
Comment=Guia de empregos
Type=Application
Exec=gvfs-open http://www.curriculum.com.br/
Icon=eos-link-curriculum
Categories=Local;
X-Endless-LaunchMaximized=true
