[Desktop Entry]
Version=1.0
Name=Deportivo Iztapa
Comment=Club de Futbol Iztapa
Type=Application
Exec=chromium-browser https://www.facebook.com/pages/Deportivo-Iztapa/380974485302705/
Icon=eos-link-deportivoiztapa
Categories=Sports;
