[Desktop Entry]
Version=1.0
Name=Guate es Calidá
Comment=Guate es Calidá
Type=Application
Exec=chromium-browser https://www.facebook.com/GuateEsCalida
Icon=eos-link-guateescalida
Categories=Entertainment;
X-Endless-ShowInAppStore=true
