[Desktop Entry]
Version=1.0
Name=Domínio Público
Comment=Biblioteca Digital
Type=Application
Exec=gvfs-open http://www.dominiopublico.gov.br/
Icon=eos-link-dominiopublico
Categories=Education;Health;
X-Endless-LaunchMaximized=true
