[Desktop Entry]
Version=1.0
Name=Seguros
Comment=Seguro saúde
Type=Application
Exec=chromium-browser http://www.superqualidadeseguros.com.br/
Icon=eos-link-seguros
Categories=Education;Health;
X-Endless-ShowInAppStore=true
