[Desktop Entry]
Version=1.0
Name=Champions League
Comment=Official Website
Type=Application
Exec=chromium-browser http://www.uefa.com/uefachampionsleague/
Icon=eos-link-championsleague
Categories=Sports;
X-Endless-LaunchMaximized=true
