[Desktop Entry]
Version=1.0
Name=Angry Birds
Comment=The official home of Angry Birds
Type=Application
Exec=eos-exec-localized 'chromium-browser http://chrome.angrybirds.com/' en:'chromium-browser http://chrome.angrybirds.com/' es:'chromium-browser http://chrome.angrybirds.com' 
Icon=eos-link-angrybirds
Categories=Entertainment;
X-Endless-ShowInAppStore=true
