[Desktop Entry]
Version=1.0
Name=Youtube
Comment=Video
Type=Application
Exec=eos-exec-localized 'chromium-browser http://www.youtube.com/' en:'chromium-browser http://www.youtube.com/' es:'chromium-browser http://www.youtube.com/' pt:'chromium-browser http://www.youtube.com' 
Icon=eos-link-youtube
Categories=Entertainment;
X-Endless-ShowInAppStore=true
