[Desktop Entry]
Version=1.0
Name=Olhar Digital
Comment=Notícias e videos de tecnologia
Type=Application
Exec=chromium-browser http://olhardigital.uol.com.br/
Icon=eos-link-olhardigital
Categories=Entertainment;
X-Endless-LaunchMaximized=true
