[Desktop Entry]
Version=1.0
Name=百度传课
Comment=中国最大的网络课程在线分享平台
Type=Application
Exec=chromium-browser http://www.chuanke.com/
Icon=eos-link-chuanke
Categories=Education;Health;
X-Endless-LaunchMaximized=true
