[Desktop Entry]
Version=1.0
Name=Viva Rio
Comment=Iformation
Type=Application
Exec=chromium-browser http://vivario.org.br/
Icon=eos-link-vivario
Categories=Local;
X-Endless-ShowInAppStore=true
