[Desktop Entry]
Version=1.0
Name=Mundo Chapin
Comment=Lo mejor de Guatemala
Type=Application
Exec=gio open http://mundochapin.com/
Icon=eos-link-mundochapin
Categories=Entertainment;
X-Endless-LaunchMaximized=true
