[Desktop Entry]
Version=1.0
Name=National Geographic
Name[th]=NatGeo Thai
Comment=Articles, photos & videos about the world
Type=Application
Exec=eos-exec-localized 'gio open http://www.nationalgeographic.com' es:'gio open http://www.ngenespanol.com/' id:'gio open http://nationalgeographic.co.id/' th:'gio open http://ngthai.com/' 
Icon=eos-link-nationalgeographic
Categories=Entertainment;
X-Endless-LaunchMaximized=true
