[Desktop Entry]
Version=1.0
Name=Tabela Brasileirão
Comment=classificação e jogos
Type=Application
Exec=gvfs-open http://globoesporte.globo.com/futebol/brasileirao-serie-a/#/classificacao-e-jogos/
Icon=eos-link-brasileirao
Categories=Sports;
X-Endless-LaunchMaximized=true
