[Desktop Entry]
Version=1.0
Name=Malacates
Comment=Página oficial de la banda
Type=Application
Exec=gio open http://www.malacates.com/
Icon=eos-link-malacates
Categories=Entertainment;
X-Endless-LaunchMaximized=true
