[Desktop Entry]
Version=1.0
Name=FIFA
Comment=Football association
Type=Application
Exec=eos-exec-localized 'gvfs-open http://www.fifa.com/' es:'gvfs-open http://es.fifa.com/' 
Icon=eos-link-fifa
Categories=Sports;
X-Endless-LaunchMaximized=true
