[Desktop Entry]
Version=1.0
Name=Dep. Marquense
Comment=Página de Facebook para fanáticos
Type=Application
Exec=chromium-browser https://www.facebook.com/CSDMarquense/timeline
Icon=eos-link-deportivomarquense
Categories=Sports;
X-Endless-LaunchMaximized=true
