[Desktop Entry]
Version=1.0
Name=National Geographic
Comment=Articles, photos & videos about the world
Type=Application
Exec=eos-exec-localized 'chromium-browser http://www.nationalgeographic.com' es:'chromium-browser http://www.ngenespanol.com/' 
Icon=eos-link-nationalgeographic
Categories=Entertainment;
X-Endless-LaunchMaximized=true
