[Desktop Entry]
Version=1.0
Name=Quizlet
Comment=Adult education
Type=Application
Exec=gio open http://quizlet.com/
Icon=eos-link-quizlet
Categories=Education;Health;
X-Endless-LaunchMaximized=true
