[Desktop Entry]
Version=1.0
Name=El Financiero
Comment=Periódico
Type=Application
Exec=gio open http://www.elfinanciero.com.mx/
Icon=eos-link-elfinanciero
Categories=News;
X-Endless-LaunchMaximized=true
