[Desktop Entry]
Version=1.0
Name=NBB Basquete
Comment=Site Oficial
Type=Application
Exec=gio open http://lnb.com.br/
Icon=eos-link-nbb
Categories=Sports;
X-Endless-LaunchMaximized=true
