[Desktop Entry]
Version=1.0
Name=Google
Comment=Search the world's information
Type=Application
Exec=eos-exec-localized 'gvfs-open https://www.google.com/' es:'gvfs-open https://www.google.com.gt/' 
Icon=eos-link-google
Categories=Entertainment;
X-Endless-LaunchMaximized=true
