[Desktop Entry]
Version=1.0
Name=Spotify
Name[es]=Spotify
Name[pt]=Spotify
Comment=Listen to music using Spotify
Comment[es]=Escucha música con Spotify
Comment[pt]=Escute música usando Spotify
Type=Application
Exec=chromium-browser https://play.spotify.com/
Icon=eos-link-spotify
Categories=Local;
X-Endless-ShowInAppStore=true
