[Desktop Entry]
Version=1.0
Name=ID Health Care
Comment=Membangun Indonesia yang lebih sehat untuk semua
Type=Application
Exec=gvfs-open http://idhealthycare.com/
Icon=eos-link-idhealthcare
Categories=Education;Health;
X-Endless-LaunchMaximized=true
