[Desktop Entry]
Version=1.0
Name=搜狐体育
Comment=搜狐体育频道
Type=Application
Exec=gvfs-open http://sports.sohu.com/
Icon=eos-link-sohusports
Categories=Sports;
X-Endless-LaunchMaximized=true
