[Desktop Entry]
Version=1.0
Name=মুঠোফোন
Comment=মোবাইল ফোন তথ্য
Type=Application
Exec=chromium-browser http://www.muthofon.com/
Icon=eos-link-muthofon
Categories=Entertainment;
X-Endless-LaunchMaximized=true
