[Desktop Entry]
Version=1.0
Name=普特英语听力
Comment=经典免费英语学习网站
Type=Application
Exec=gio open http://www.putclub.com/
Icon=eos-link-putclub
Categories=Education;Health;
X-Endless-LaunchMaximized=true
