[Desktop Entry]
Version=1.0
Name=Duolingo
Comment=Learn a new language
Type=Application
Exec=eos-exec-localized 'chromium-browser https://www.duolingo.com' en:'chromium-browser https://www.duolingo.com' es:'chromium-browser https://www.duolingo.com/es' pt:'chromium-browser https://www.duolingo.com/pt' 
Icon=eos-link-duolingo
Categories=Education;Health;
X-Endless-ShowInAppStore=true
