[Desktop Entry]
Version=1.0
Name=OLX
Comment=Situs belanja online terbesar di Indonesia
Type=Application
Exec=gio open http://olx.co.id/
Icon=eos-link-olx
Categories=Entertainment;
X-Endless-LaunchMaximized=true
