[Desktop Entry]
Version=1.0
Name=Rock Chapin
Comment=música e innovación
Type=Application
Exec=chromium-browser http://www.rockchapin.org/
Icon=eos-link-rockchapin
Categories=Entertainment;
