[Desktop Entry]
Version=1.0
Name=Bola nas Costas
Comment=Sport Comedy
Type=Application
Exec=chromium-browser http://globoesporte.globo.com/platb/bolanascostas/
Icon=eos-link-bolanascostas
Categories=Entertainment;
X-Endless-ShowInAppStore=true
