[Desktop Entry]
Version=1.0
Name=Camerino Crema
Comment=El portal de toda la Afición Crema
Type=Application
Exec=gvfs-open http://camerinocrema.com/
Icon=eos-link-clubdefutbolcomunicaciones
Categories=Sports;
X-Endless-LaunchMaximized=true
