[Desktop Entry]
Version=1.0
Name=Emisoras Unidas
Comment=Portal de noticias 
Type=Application
Exec=gvfs-open http://noticias.emisorasunidas.com/
Icon=eos-link-emisoraunidas
Categories=News;
X-Endless-LaunchMaximized=true
