[Desktop Entry]
Version=1.0
Name=noti7
Comment=Portal de Noticias
Type=Application
Exec=chromium-browser http://www.noti7.com.gt/
Icon=eos-link-noti7
Categories=News;
