[Desktop Entry]
Version=1.0
Name=Mundo Chapin
Comment=lo mejor de Guatemala
Type=Application
Exec=chromium-browser http://mundochapin.com/
Icon=eos-link-mundochapin
Categories=Entertainment;
X-Endless-ShowInAppStore=true
