[Desktop Entry]
Version=1.0
Name=Emisoras Unidas
Comment=Portal de noticias 
Type=Application
Exec=chromium-browser http://noticias.emisorasunidas.com/
Icon=eos-link-emisoraunidas
Categories=News;
