[Desktop Entry]
Version=1.0
Name=Globo Esporte
Comment=Portal de Notícias
Type=Application
Exec=chromium-browser http://globoesporte.globo.com/
Icon=eos-link-globoesporte
Categories=Sports;
