[Desktop Entry]
Version=1.0
Name=Conred
Comment=Coordinadora Nacional para la Reducción de Desastres
Type=Application
Exec=chromium-browser http://conred.gob.gt/www/
Icon=eos-link-conred
Categories=Local;
