[Desktop Entry]
Version=1.0
Name=RJTV
Comment=Video reports
Type=Application
Exec=chromium-browser http://globotv.globo.com/rede-globo/rjtv-1a-edicao/
Icon=eos-link-globotv
Categories=News;
