[Desktop Entry]
Version=1.0
Name=NBB Basquete
Comment=Site Oficial
Type=Application
Exec=chromium-browser http://lnb.com.br/
Icon=eos-link-nbb
Categories=Sports;
