[Desktop Entry]
Version=1.0
Name=New Movie HD
Comment=ดูหนังออนไลน์
Type=Application
Exec=gio open https://www.newmovie-hd.com/
Icon=eos-link-newmoviehd
Categories=Entertainment;
X-Endless-LaunchMaximized=true
