[Desktop Entry]
Version=1.0
Name=Revista Saúde
Comment=Saúde, nutrição e bem-estar
Type=Application
Exec=chromium-browser http://saude.abril.com.br/
Icon=eos-link-revistasuade
Categories=Education;Health;
