[Desktop Entry]
Version=1.0
Name=CBF
Comment=Official Website
Type=Application
Exec=chromium-browser http://www.cbf.com.br/
Icon=eos-link-cbf
Categories=Sports;
X-Endless-ShowInAppStore=true
