[Desktop Entry]
Version=1.0
Name=Highlights for Kids
Comment=Magazines for kids
Type=Application
Exec=chromium-browser http://www.highlightskids.com/
Icon=eos-link-highlightskids
Categories=Entertainment;
