[Desktop Entry]
Version=1.0
Name=Coursera
Comment=The world's best universities
Type=Application
Exec=chromium-browser https://www.coursera.org/
Icon=eos-link-coursera
Categories=Education;Health;
