[Desktop Entry]
Version=1.0
Name=爱奇艺教育
Comment=以幼儿、中小学、学历教育、外语学习等方面视频课程为核心
Type=Application
Exec=gio open http://edu.iqiyi.com/
Icon=eos-link-iqiyiedu
Categories=Education;Health;
X-Endless-LaunchMaximized=true
