[Desktop Entry]
Version=1.0
Name=Facebook
Comment=Social Network
Type=Application
Exec=chromium-browser http://www.facebook.com/
Icon=eos-link-facebook
Categories=Entertainment;
