[Desktop Entry]
Version=1.0
Name=Portal Brasil
Comment=Portal de Notícias do Governo
Type=Application
Exec=chromium-browser http://www.brasil.gov.br/
Icon=eos-link-noticiasdegoverno
Categories=News;
