[Desktop Entry]
Version=1.0
Name=新浪读书
Comment=致力于传播精品图书，第一时间刊发国内外文化图书资讯
Type=Application
Exec=gio open http://book.sina.com.cn/
Icon=eos-link-sinabooks
Categories=Entertainment;
X-Endless-LaunchMaximized=true
