[Desktop Entry]
Version=1.0
Name=Instituto Socioambiental
Comment=Meio Ambiente
Type=Application
Exec=gio open http://www.socioambiental.org/pt-br
Icon=eos-link-inea
Categories=Local;
X-Endless-LaunchMaximized=true
