[Desktop Entry]
Version=1.0
Name=Escuela preescolar
Comment=Recursos para niños de 3 a 6 años
Type=Application
Exec=gvfs-open http://preschool.uen.org/es/
Icon=eos-link-escuelapreescolar
Categories=Education;Health;
X-Endless-LaunchMaximized=true
