[Desktop Entry]
Version=1.0
Name=Sistema de Becas
Comment=Información sobre becas
Type=Application
Exec=chromium-browser http://becas.segeplan.gob.gt/becas/
Icon=eos-link-sistemadebecas
Categories=Education;Health;
