[Desktop Entry]
Version=1.0
Name=Viaje a Guatemala
Comment=destinos turísticos
Type=Application
Exec=chromium-browser http://www.viajeaguatemala.com/
Icon=eos-link-viajeaguatemala
Categories=Entertainment;
