[Desktop Entry]
Version=1.0
Name=Max Games
Comment=Hundreds of online video games
Type=Application
Exec=chromium-browser http://www.maxgames.com/
Icon=eos-link-maxgames
Categories=Entertainment;
X-Endless-LaunchMaximized=true
