[Desktop Entry]
Version=1.0
Name=Canal Antigua
Comment=Canal guatemalteco
Type=Application
Exec=chromium-browser http://www.canalantigua.com/
Icon=eos-link-canalantigua
Categories=Entertainment;
