[Desktop Entry]
Version=1.0
Name=eHow
Comment=Discover the expert in you
Type=Application
Exec=chromium-browser http://www.ehow.com
Icon=eos-link-ehow
Categories=Entertainment;
