[Desktop Entry]
Version=1.0
Name=Record
Comment=Periódico deportivo
Type=Application
Exec=gvfs-open http://www.record.com.mx/
Icon=eos-link-record
Categories=News;
X-Endless-LaunchMaximized=true
