[Desktop Entry]
Version=1.0
Name=Olhar Digital
Comment=News and video technology
Type=Application
Exec=chromium-browser http://olhardigital.uol.com.br/
Icon=eos-link-olhardigital
Categories=Entertainment;
X-Endless-ShowInAppStore=true
