[Desktop Entry]
Version=1.0
Name=FOX Sports
Comment=Noticias de deportes
Type=Application
Exec=chromium-browser http://www.foxsportsla.com/gt/
Icon=eos-link-foxsports
Categories=Sports;
