[Desktop Entry]
Version=1.0
Name=Revista Saúde
Comment=Information
Type=Application
Exec=chromium-browser http://saude.abril.com.br/
Icon=eos-link-revistasaude
Categories=Education;Health;
X-Endless-ShowInAppStore=true
