[Desktop Entry]
Version=1.0
Name=Google News
Comment=News site
Type=Application
Exec=eos-exec-localized 'gio open https://news.google.com/' pt:'gio open http://news.google.com.br/' 
Icon=eos-link-googlenews
Categories=News;
X-Endless-LaunchMaximized=true
