[Desktop Entry]
Version=1.0
Name=Hágalo Ud Mismo
Comment=Ideas y soluciones para el hogar
Type=Application
Exec=chromium-browser http://www.hagaloustedmismo.cl/
Icon=eos-link-hagaloustedmismo
Categories=Education;Health;
