[Desktop Entry]
Version=1.0
Name=Pinterest
Comment=Imágenes e ideas para inspirarte
Type=Application
Exec=chromium-browser http://pinterestenespanol.com/
Icon=eos-link-pinterest
Categories=Entertainment;
