[Desktop Entry]
Version=1.0
Name=বিক্রয়
Comment=বাংলাদেশের সর্বাধিক জনপ্রিয় ক্রয় এবং বিক্রয় প্লাটফর্ম
Type=Application
Exec=chromium-browser http://bikroy.com/
Icon=eos-link-bikroy
Categories=Entertainment;
X-Endless-LaunchMaximized=true
