[Desktop Entry]
Version=1.0
Name=Education First
Comment=Pemimpin dunia dalam pendidikan internasional
Type=Application
Exec=gio open http://www.ef.co.id/
Icon=eos-link-educationfirst
Categories=Education;Health;
X-Endless-LaunchMaximized=true
