[Desktop Entry]
Version=1.0
Name=Family Doctor
Name[es]=Doctor de familia
Comment=Health information for the whole family
Type=Application
Exec=eos-exec-localized 'gio open http://familydoctor.org/' es:'gio open http://es.familydoctor.org/' 
Icon=eos-link-familydoctor
Categories=Education;Health;
X-Endless-LaunchMaximized=true
