[Desktop Entry]
Version=1.0
Name=QQ音乐
Comment=免费音乐服务，海量音乐在线试听
Type=Application
Exec=gvfs-open http://y.qq.com/
Icon=eos-link-qqmusic
Categories=Entertainment;
X-Endless-LaunchMaximized=true
