[Desktop Entry]
Version=1.0
Name=Curriculum
Name[es]=Currículo
Comment=Guia de empregos
Type=Application
Exec=chromium-browser http://www.curriculum.com.br/
Icon=eos-link-curriculum
Categories=Local;
