[Desktop Entry]
Version=1.0
Name=Univ Marroquín
Comment=Portal oficial de UFM
Type=Application
Exec=gvfs-open http://www.ufm.edu.gt/
Icon=eos-link-universidadfranciscomarroquin
Categories=Education;Health;
X-Endless-LaunchMaximized=true
