[Desktop Entry]
Version=1.0
Name=Duolingo
Name[zh]=多邻国 英语
Comment=Learn a new language
Type=Application
Exec=eos-exec-localized 'gio open webapp:www.duolingo.com@https://www.duolingo.com/' zh:'gio open webapp:www.duolingo.com@http://www.duolingo.cn/' 
Icon=eos-link-duolingo
Categories=Education;Health;
StartupWMClass=www.duolingo.com
X-Endless-LaunchMaximized=true
