[Desktop Entry]
Version=1.0
Name=Yo Asumo
Comment=Conciencia Ciudadana
Type=Application
Exec=chromium-browser http://www.yoasumo.org/
Icon=eos-link-yoasumo
Categories=Local;
