[Desktop Entry]
Version=1.0
Name=Detran
Comment=Utilidades
Type=Application
Exec=chromium-browser http://www.detran.rj.gov.br/
Icon=eos-link-detran
Categories=Local;
