[Desktop Entry]
Version=1.0
Name=Discovery Channel
Comment=Sobre curiosidades del mundo
Type=Application
Exec=chromium-browser http://www.tudiscovery.com/
Icon=eos-link-discoverychannel
Categories=Entertainment;
