[Desktop Entry]
Version=1.0
Name=TED
Name[zh]=TED TALK（英文原站）
Comment=Online lectures
Type=Application
Exec=eos-exec-localized 'gvfs-open http://www.ted.com/' es:'gvfs-open http://www.ted.com/translate/languages/es/' pt:'gvfs-open http://www.ted.com/translate/languages/pt-br/' 
Icon=eos-link-ted
Categories=Education;Health;
X-Endless-LaunchMaximized=true
