[Desktop Entry]
Version=1.0
Name=搜狐教育
Comment=提供教育资讯与服务
Type=Application
Exec=gvfs-open http://learning.sohu.com/
Icon=eos-link-sohulearning
Categories=Education;Health;
X-Endless-LaunchMaximized=true
