[Desktop Entry]
Version=1.0
Name=Mạng Việc Làm
Comment=Thị trường việc làm trực tuyến
Type=Application
Exec=gvfs-open https://mangvieclam.com/
Icon=eos-link-mangvieclam
Categories=Education;Health;
X-Endless-LaunchMaximized=true
