[Desktop Entry]
Version=1.0
Name=VN Express
Comment=Thông tin hàng ngày về Việt Nam và thế giới
Type=Application
Exec=gvfs-open http://vnexpress.net/
Icon=eos-link-vnexpress
Categories=News;
X-Endless-LaunchMaximized=true
