[Desktop Entry]
Version=1.0
Name=Explorando Guatemala
Comment=Destinos turísticos en Guatemala
Type=Application
Exec=chromium-browser http://www.xplorandoguatemala.com/
Icon=eos-link-explorandoguatemala
Categories=Local;
