[Desktop Entry]
Version=1.0
Name=Currículo online
Comment=Guia de empregos
Type=Application
Exec=gio open http://curriculo.com.br/
Icon=eos-link-curriculo
Categories=Education;Health;
X-Endless-LaunchMaximized=true
