[Desktop Entry]
Version=1.0
Name=Univ Galvez
Comment=Portal oficial de UMG
Type=Application
Exec=gio open http://www.umg.edu.gt/
Icon=eos-link-universidadmarianogalvez
Categories=Education;Health;
X-Endless-LaunchMaximized=true
