[Desktop Entry]
Version=1.0
Name=Veduca
Comment=As melhores universidades do mundo
Type=Application
Exec=gio open http://www.veduca.com.br/
Icon=eos-link-verduca
Categories=Education;Health;
X-Endless-LaunchMaximized=true
