[Desktop Entry]
Version=1.0
Name=Rio Turismo
Comment=Turismo
Type=Application
Exec=chromium-browser http://www.rioturismoradical.com.br/
Icon=eos-link-rioturismoradical
Categories=Local;
