[Desktop Entry]
Version=1.0
Name=Telefones Úteis
Comment=Utilidades
Type=Application
Exec=gvfs-open http://www.telelistas.net
Icon=eos-link-telelistas
Categories=Local;
X-Endless-LaunchMaximized=true
