[Desktop Entry]
Version=1.0
Name=KLogo
Comment=Geometry and basic programming principles
Type=Application
Exec=eos-exec-localized 'chromium-browser http://klogoturtle.sourceforge.net/' en:'chromium-browser http://klogoturtle.sourceforge.net/' pt:'chromium-browser http://klogoturtle.sourceforge.net/index_p.htm' 
Icon=eos-link-klogo
Categories=Education;Health;
X-Endless-ShowInAppStore=true
