[Desktop Entry]
Version=1.0
Name=Codecademy
Comment=Learn to program
Type=Application
Exec=eos-exec-localized 'gvfs-open http://www.codecademy.com/en/' es:'gvfs-open http://www.codecademy.com/es/' pt:'gvfs-open http://www.codecademy.com/pt/' 
Icon=eos-link-codeacademy
Categories=Education;Health;
X-Endless-LaunchMaximized=true
