[Desktop Entry]
Version=1.0
Name=As Boas Novas
Comment=Portal de Notícias
Type=Application
Exec=gio open http://www.asboasnovas.com/
Icon=eos-link-asboasnovas
Categories=News;
X-Endless-LaunchMaximized=true
