[Desktop Entry]
Version=1.0
Name=About.com
Comment=Learn anything from trusted experts
Type=Application
Exec=chromium-browser http://www.about.com/
Icon=eos-link-aboutcom
Categories=Education;Health;
