[Desktop Entry]
Version=1.0
Name=Golden Jubilee Network
Comment=โครงการการศึกษาโดยสมเด็จพระเทพรัตนราชสุดาฯ
Type=Application
Exec=gio open http://kanchanapisek.or.th/
Icon=eos-link-kanchanapisek
Categories=Education;Health;
X-Endless-LaunchMaximized=true
