[Desktop Entry]
Version=1.0
Name=Code Combat
Comment=Learn to code while playing
Type=Application
Exec=gvfs-open http://codecombat.com/
Icon=eos-link-codecombat
Categories=Education;Health;
X-Endless-LaunchMaximized=true
