[Desktop Entry]
Version=1.0
Name=BSD Academy
Comment=สถาบันการศึกษาที่บริการการศึกษาด้านเทคโนโลยี
Type=Application
Exec=gio open http://th.bsdacademy.com/
Icon=eos-link-bsdacademy
Categories=Education;Health;
X-Endless-LaunchMaximized=true
