[Desktop Entry]
Version=1.0
Name=人民网
Comment=《人民日报》建设的以新闻为主的大型网上信息发布平台
Type=Application
Exec=gvfs-open http://www.people.com.cn/
Icon=eos-link-peoplesdaily
Categories=News;
X-Endless-LaunchMaximized=true
