[Desktop Entry]
Version=1.0
Name=Guatevision
Comment=Noticias y entretenimiento
Type=Application
Exec=gio open http://www.guatevision.com/
Icon=eos-link-guatevision
Categories=Entertainment;
X-Endless-LaunchMaximized=true
