[Desktop Entry]
Version=1.0
Name=GNT MODA
Comment=Desfiles, Looks e ensaios
Type=Application
Exec=gio open http://gnt.globo.com/moda/
Icon=eos-link-gntmoda
Categories=Entertainment;
X-Endless-LaunchMaximized=true
