[Desktop Entry]
Version=1.0
Name=MAP
Comment=Red de personas haciendo acciones positivas
Type=Application
Exec=chromium-browser http://map.org.gt/
Icon=eos-link-map
Categories=Local;
