[Desktop Entry]
Version=1.0
Name=Canal 7
Comment=Televisiete
Type=Application
Exec=chromium-browser http://www.canal7.com.gt/
Icon=eos-link-canal7
Categories=Entertainment;
