[Desktop Entry]
Version=1.0
Name=MECFLIX
Comment=Portal de videos
Type=Application
Exec=gvfs-open http://mecflix.mec.gov.br/
Icon=eos-link-mecflix
Categories=Education;Health;
X-Endless-LaunchMaximized=true
