[Desktop Entry]
Version=1.0
Name=OSAR
Comment=Salud Reproductiva
Type=Application
Exec=chromium-browser http://www.osarguatemala.org/
Icon=eos-link-osar
Categories=Education;Health;
