[Desktop Entry]
Version=1.0
Name=AccionTrabajo
Comment=Ofertas de empleo en Guatemala
Type=Application
Exec=chromium-browser http://acciontrabajo.com.gt/
Icon=eos-link-acciontrabajo
Categories=Education;Health;
