[Desktop Entry]
Version=1.0
Name=National Geographic
Comment=Fotos, vídeos, viajes, historia...
Type=Application
Exec=chromium-browser http://www.ngenespanol.com/
Icon=eos-link-nationalgeographic
Categories=Entertainment;
X-Endless-ShowInAppStore=true
