[Desktop Entry]
Version=1.0
Name=Infojobs
Comment=Jobs guide
Type=Application
Exec=chromium-browser http://vagas.infojobs.com.br/
Icon=eos-link-infojobs
Categories=Education;Health;
