[Desktop Entry]
Version=1.0
Name=O Dia
Comment=Portal de notícias
Type=Application
Exec=chromium-browser http://odia.ig.com.br/
Icon=eos-link-odia
Categories=News;
