[Desktop Entry]
Version=1.0
Name=Codecademy
Comment=Learn to program
Type=Application
Exec=eos-exec-localized 'chromium-browser http://www.codecademy.com/en/' pt:'chromium-browser http://www.codecademy.com/pt/' 
Icon=eos-link-codeacademy
Categories=Education;Health;
