[Desktop Entry]
Version=1.0
Name=WhatsApp
Name[id]=Whatsapp
Comment=Chat and text with friends
Type=Application
Exec=gvfs-open webapp://web.whatsapp.com@https://web.whatsapp.com/
Icon=eos-link-whatsapp
Categories=Entertainment;
StartupWMClass=web.whatsapp.com
X-Endless-LaunchMaximized=true
