[Desktop Entry]
Version=1.0
Name=GE-TV
Comment=reportagens em vídeo
Type=Application
Exec=chromium-browser http://globoesporte.globo.com/
Icon=eos-link-getv
Categories=Sports;
X-Endless-ShowInAppStore=true
