[Desktop Entry]
Version=1.0
Name=Google Art
Comment=Exposição de arte online
Type=Application
Exec=chromium-browser http://www.googleartproject.com/pt-br/collections/
Icon=eos-link-googleart
Categories=Education;Health;
X-Endless-LaunchMaximized=true
