[Desktop Entry]
Version=1.0
Name=CompuTrabajo
Comment=Portal de Empleo
Type=Application
Exec=chromium-browser http://www.gt.computrabajo.com/
Icon=eos-link-computrabajo
Categories=Education;Health;
