[Desktop Entry]
Version=1.0
Name=Yahoo Sports
Comment=Sports updates
Type=Application
Exec=gio open http://sports.yahoo.com
Icon=eos-link-yahoosports
Categories=Sports;
X-Endless-LaunchMaximized=true
