[Desktop Entry]
Version=1.0
Name=UPA
Comment=Health
Type=Application
Exec=chromium-browser http://www.rj.gov.br/web/poupatemporj
Icon=eos-link-upa
Categories=Local;
X-Endless-ShowInAppStore=true
