[Desktop Entry]
Version=1.0
Name=Reforma
Comment=Periódico
Type=Application
Exec=gio open http://www.reforma.com/
Icon=eos-link-reforma
Categories=News;
X-Endless-LaunchMaximized=true
