[Desktop Entry]
Version=1.0
Name=Novelas Yahoo!
Comment=Tudo sobre as principais novelas
Type=Application
Exec=gvfs-open http://br.tv.yahoo.com/novelas/
Icon=eos-link-novelasyahoo
Categories=Entertainment;
X-Endless-LaunchMaximized=true
