[Desktop Entry]
Version=1.0
Name=Moda iG
Comment=Fashion Tips
Type=Application
Exec=chromium-browser http://moda.ig.com.br/
Icon=eos-link-modaig
Categories=Entertainment;
