[Desktop Entry]
Version=1.0
Name=Bola
Comment=Portal sepak bola Indonesia
Type=Application
Exec=gvfs-open http://www.bola.net/
Icon=eos-link-bola
Categories=Sports;
X-Endless-LaunchMaximized=true
