[Desktop Entry]
Version=1.0
Name=Fm Style
Comment=Cửa hàng thời trang trực tuyến nhỏ cho thanh niên
Type=Application
Exec=gio open http://fmstyle.com.vn/
Icon=eos-link-fmstyle
Categories=News;
X-Endless-LaunchMaximized=true
