[Desktop Entry]
Version=1.0
Name=中国教育在线 - 小学频道
Comment=提供小学教育信息，小学政策信息，小学学习辅导，小学试题库
Type=Application
Exec=gio open http://xiaoxue.eol.cn/
Icon=eos-link-eolprimaryeducation
Categories=Education;Health;
X-Endless-LaunchMaximized=true
