[Desktop Entry]
Version=1.0
Name=7Leopold7
Comment=Blog olahraga sepeda motor
Type=Application
Exec=gio open https://7leopold7.com/
Icon=eos-link-7leopold7
Categories=Sports;
X-Endless-LaunchMaximized=true
