[Desktop Entry]
Version=1.0
Name=Armagetron
Name[ar]=أرماجيترون
Name[es]=Armagetron
Name[fr]=Armagetron
Name[id]=Armagetron
Name[pt_BR]=Armagetron
Name[zh]=Armagetron
Name[zh_CN]=Armagetron
Comment=Race 3D light motorcycles like in the movie Tron
Comment[ar]=سابق الدراجات النارية الخفيفة ثلاثية الأبعاد كما في فيلم ترون
Comment[es]=Carreras en 3D inspiradas por la película Tron
Comment[fr]=Course de motos légères en 3D comme dans le filme Tron
Comment[id]=Balapan menggunakan sepeda motor cahaya 3D seperti dalam film Tron
Comment[pt_BR]=Jogo de corrida em 3D, inspirado nas motocicletas futuristas  do filme Tron.
Comment[zh]=电影同款3D轻型赛车游戏
Comment[zh_CN]=电影同款3D轻型赛车游戏
Type=Application
Exec=armagetronad
Icon=eos-app-armagetronad
Categories=Games;
X-Endless-LaunchMaximized=true
