[Desktop Entry]
Version=1.0
Name=Audio Editor
Name[ar]=محرر صوت
Name[es]=Editor de audio
Name[fr]=Éditeur Audio
Name[id]=Penyunting Audio
Name[pt_BR]=Editor de Áudio
Name[zh]=音频编辑器
Name[zh_CN]=音频编辑器
Comment=Audio editor for recording, slicing, and mixing audio
Comment[ar]=محرر صوت لتسجيل وتقطيع وخلط الصوت
Comment[es]=Editor para grabar, cortar y mezclar audio
Comment[fr]=Éditeur audio pour enregistrer, découper, et mixer du son
Comment[id]=Editor audio untuk merekam, memotong dan menggabungkan audio
Comment[pt_BR]=Editor de áudio para gravar, cortar e misturar sons
Comment[zh]=可录音、剪辑和混音的音频编辑器
Comment[zh_CN]=可录音、剪辑和混音的音频编辑器
Type=Application
Exec=audacity
Icon=eos-app-audacity
Categories=Utility;
X-Endless-LaunchMaximized=true
