[Desktop Entry]
Version=1.0
Name=Billiards
Name[ar]=بلياردو
Name[es]=Billar
Name[fr]=Billard
Name[id]=Biliar
Name[pt_BR]=Sinuca
Name[zh]=桌球
Name[zh_CN]=桌球
Comment=Fun 3D billiards game
Comment[ar]=لعبة بلياردو ممتعة ثلاثية الأبعاد
Comment[es]=Practica tus habilidades con este juego de billar en 3D
Comment[fr]=Jeu de billard amusant en 3D
Comment[id]=Gim biliar 3D seru
Comment[pt_BR]=Divertido jogo de sinuca em 3D
Comment[zh]=趣味3D桌球游戏
Comment[zh_CN]=趣味3D桌球游戏
Type=Application
Exec=billard-gl
Icon=eos-app-billard-gl
Categories=Games;
X-Endless-LaunchMaximized=false
