[Desktop Entry]
Version=1.0
Name=Battle Tanks
Comment=Fast 2D tank arcade game with multiplayer and split-screen modes
Comment[es]=Juego en dos dimensioness, de paso rápido y con la opción de multijugador y pantalla partida
Type=Application
Exec=btanks
Icon=eos-app-btanks
Categories=Leisure;
X-Endless-LaunchMaximized=true
