[Desktop Entry]
Version=1.0
Name=Chromium BSU
Name[ar]=كروم BSU
Name[es]=Chromium BSU
Name[fr]=Chromium BSU
Name[pt_BR]=Chromium BSU
Comment=Command your spaceship and battle with robots
Comment[ar]=قم بقيادة سفينة الفضاء الخاصة بك واشتبك مع الروبوتات
Comment[es]=Navega tu propia nave espacial y batalla con robots
Comment[fr]=Commandez vos vaisseaux spatiaux et combattez les robots
Comment[pt_BR]=Comande sua nave espacial e lute com os robôs
Type=Application
Exec=resfix chromium-bsu --fullscreen
TryExec=chromium-bsu
Icon=eos-app-chromium-bsu
Categories=Games;
X-Endless-LaunchMaximized=true
