[Desktop Entry]
Version=1.0
Name=Internet
Name[ar]=الإنترنت
Name[es]=Internet
Name[fr]=Internet
Name[id]=Internet
Name[pt_BR]=Internet
Name[zh]=互联网
Name[zh_CN]=互联网
Comment=Browse the Web
Comment[ar]=تصفح الويب
Comment[es]=Explora el internet
Comment[fr]=Parcourez le web
Comment[id]=Jelajahi Web
Comment[pt_BR]=Navegue na internet
Comment[zh]=浏览网页
Comment[zh_CN]=浏览网页
Type=Application
Exec=chromium-browser %U
Icon=eos-app-chromium-browser
Categories=Utility;
X-Endless-LaunchMaximized=true
