[Desktop Entry]
Version=1.0
Name=Sports at School
Comment=Teacher-oriented program to enrich Physical Education classes
Type=Application
Exec=com.endlessm.fnde_mec_physical_education
Icon=eos-app-com.endlessm.fnde_mec_physical_education
Categories=Education;
X-Endless-LaunchMaximized=true
