[Desktop Entry]
Version=1.0
Name=Idiomas Maya
Comment=Cuentos y diccionarios en los idiomas Mayas
Type=Application
Exec=eos-mayan-languages
Icon=eos-app-com.endlessm.mayan_languages.es_GT
Categories=Education;Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.mayan_languages.es_gt-splash.jpg
