[Desktop Entry]
Version=1.0
Name=Kids
Name[ar]=الأطفال
Name[es]=Niños
Name[fr]=Enfants
Name[hi]=बच्चे
Name[id]=Anak-anak
Name[pt_BR]=Kids
Name[th]=เด็ก
Name[vi]=Trẻ
Name[zh_CN]=儿童
Name[zh_TW]=小孩
Comment=Kids will love these videos
Comment[ar]=سيُحبُ الأطفال هذه الفيديوهات
Comment[es]=Videos que encantarán a los niños
Comment[fr]=Les enfants vont adorer ces vidéos
Comment[hi]=बच्चे इन वीडियोज़ को बहुत पसंद करेंगे
Comment[id]=Anak-anak akan menyukai video-video ini
Comment[pt_BR]=As crianças vão amar esses videos
Comment[th]=เด็กๆ จะต้องชอบวิดีโอเหล่านี้
Comment[vi]=Những đứa trẻ sẽ thích các video này
Comment[zh_CN]=孩子们一定会喜欢这些视频
Comment[zh_TW]=小孩一定喜歡這些影片
Type=Application
Exec=com.endlessm.video_kids
Icon=eos-app-com.endlessm.video_kids
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_kids-splash.jpg
