[Desktop Entry]
Version=1.0
Name=Diah Didi's Kitchen
Comment=Blog memasak yang menggiurkan
Type=Application
Exec=com.endlessm.diah_didis
Icon=eos-app-com.endlessm.diah_didis.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.diah_didis.id-splash.jpg
