[Desktop Entry]
Version=1.0
Name=Educação Especial
Comment=TV Escola - MEC: Desafios e oportuidades para pessoas com deficiência física e intelectual
Type=Application
Exec=com.endlessm.fnde_mec_special_education
Icon=eos-app-com.endlessm.fnde_mec_special_education.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
