[Desktop Entry]
Version=1.0
Name=Wiki-art
Comment=Colección virtual de artes visuales
Type=Application
Exec=com.endlessm.wiki_art
Icon=eos-app-com.endlessm.wiki_art.es
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.wiki_art.es-splash.jpg
