[Desktop Entry]
Version=1.0
Name=জাতীয় পাঠ্যপুস্তক
Comment=সব বিষয়ে জাতীয় পাঠ্যপুস্তক
Type=Application
Exec=com.endlessm.bengali_curriculum
Icon=eos-app-com.endlessm.bengali_curriculum.bn_BD
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.bengali_curriculum.bn_bd-splash.jpg
