[Desktop Entry]
Version=1.0
Name=Wordpress Blogs
Comment=Top Blogs from Blogs of the Day at Wordpress
Type=Application
Exec=eos-reader-dogfood-en
Icon=eos-app-com.endlessm.reader-dogfood-en
Categories=Resources;
X-Endless-LaunchMaximized=true
