[Desktop Entry]
Version=1.0
Name=Programación
Comment=Aprender a programar para web
Type=Application
Exec=com.endlessm.programming_guide
Icon=eos-app-com.endlessm.programming_guide.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.programming_guide.es-splash.jpg
