[Desktop Entry]
Version=1.0
Name=Creativity Center
Name[ar]=مركز الإبداع
Name[es]=Centro de creatividad
Name[fr]=Centre de créativité
Name[pt_BR]=Centro de criatividade
Comment=Drawing, painting, music, and so much more
Comment[ar]=الرسم، والتلوين، والموسيقى، وأكثر من ذلك بكثير
Comment[es]=Dibujos, pintura, música y mucho más
Comment[fr]=Dessin, peinture, musique, et tellement plus
Comment[pt_BR]=Desenho, pintura, musica e muito mais
Type=Application
Exec=eos-creativity-center
Icon=eos-app-com.endlessm.creativity-center
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.creativity-center-splash.jpeg
