[Desktop Entry]
Version=1.0
Name=Celebrities
Name[ar]=المشاهير
Name[es]=Celebridades
Name[fr]=Célébrités
Name[pt]=Celebridades
Comment=Learn more about your favorite celebrities
Comment[ar]=اعرف المزيد حول المشاهير المفضلين لديك
Comment[es]=Información y chisme sobre los más famosos
Comment[fr]=Apprenez en plus sur vos célébrités favorites
Comment[pt]=Saiba mais sobre suas celebridades favoritas
Type=Application
Exec=eos-celebrities
Icon=eos-app-com.endlessm.celebrities
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.celebrities-splash.jpg
