[Desktop Entry]
Version=1.0
Name=Technology courses
Comment=Learn the necessary skills for a career in tecnología.
Type=Application
Exec=com.endlessm.capacitate_technology
Icon=eos-app-com.endlessm.capacitate_technology
Categories=Education;
X-Endless-LaunchMaximized=true
