[Desktop Entry]
Version=1.0
Name=Encyclopedia
Name[ar]=موسوعة
Name[es]=Enciclopedia
Name[fr]=Encyclopédie
Name[pt_BR]=Enciclopédia
Comment=The free encyclopedia that anyone can contribute to
Comment[ar]=الموسوعة المجانية التي يمكن لأي شخص أن يسهم فيها
Comment[es]=La enciclopedia más grande del mundo
Comment[fr]=L'encyclopédie libre à laquelle chacun peut contribuer
Comment[pt_BR]=A enciclopédia livre editável por todos
Type=Application
Exec=eos-encyclopedia
Icon=eos-app-com.endlessm.encyclopedia
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.encyclopedia-splash.jpg
