[Desktop Entry]
Version=1.0
Name=My Budget
Name[ar]=ميزانيتي
Name[bn]=আমার বাজেট
Name[de]=Mein Budget
Name[es]=Mi presupuesto
Name[fr]=Mon Budget
Name[hi]=मेरा बजट
Name[id]=Anggaran Saya
Name[pt_BR]=Meu Orçamento
Name[ro]=Bugetul meu
Name[th]=งบของฉัน
Name[vi]=Ngân sách của tôi
Name[zh_CN]=我的预算
Name[zh_TW]=我的預算
Comment=Learn how to create your own budget and save
Comment[ar]=تعلم كيفية إنشاء الميزانية الخاصة بك والتوفير
Comment[bn]=নিজের বাজেট তৈরি করে জমানো শিখুন
Comment[de]=Mit diesem Programm kannst du lernen dein Geld zu verwalten und zu sparen.
Comment[es]=Aprende a crear tu propio presupuesto y ahorrar
Comment[fr]=Apprenez comment définir votre budget et économiser de l'argent
Comment[hi]=अपना बजट तैयार करना और बचत करना सीखें
Comment[id]=Belajar cara menyusun anggaran keuangan Anda dan berhemat
Comment[pt_BR]=Aprenda a criar seu próprio orçamento e a economizar
Comment[ro]=Invata cum sa creezi propriul buget si sa economisesti
Comment[th]=เรียนรู้วิธีการสร้างงบประมาณของคุณเองและประหยัด
Comment[vi]=Tìm hiểu cách làm thế nào để tạo ra ngân sách và tiết kiệm riêng cho chính bạn
Comment[zh_CN]=了解如何制定个人预算并存钱
Comment[zh_TW]=學習如何建立自己的預算和儲蓄
Type=Application
Exec=eos-finance
Icon=eos-app-com.endlessm.finance
Categories=Reference;
X-Endless-LaunchMaximized=true
