[Desktop Entry]
Version=1.0
Name=ভ্রমণ
Comment=আপনার ঘরে বসেই বিশ্বের চারদিকে ভ্রমণ করে আসুন
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel.bn_BD
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.travel.bn_bd-splash.jpg
