[Desktop Entry]
Version=1.0
Name=Library
Name[bn]=পাঠাগার
Name[de]=Bücherei
Name[es]=Biblioteca
Name[hi]=पुस्तकालय
Name[id]=Perpustakaan
Name[pt_BR]=Biblioteca
Name[ro]=Librarie
Name[zh_CN]=图书馆
Comment=Popular classics in foreign languages
Comment[de]=Beliebte Klassiker in verschiedenen Sprachen
Comment[es]=Cuentos clásicos en varios idiomas
Comment[pt_BR]=Clássicos populares em língua estrangeira
Comment[ro]=Clasice populare în limbi străine
Type=Application
Exec=com.endlessm.fnde_foreign_library
Icon=eos-app-com.endlessm.fnde_foreign_library
Categories=Education;
X-Endless-LaunchMaximized=true
