[Desktop Entry]
Version=1.0
Name=Special Education
Comment=Challenges and opportunities for people with physical and intellectual disabilities
Type=Application
Exec=com.endlessm.fnde_mec_special_education
Icon=eos-app-com.endlessm.fnde_mec_special_education
Categories=Education;
X-Endless-LaunchMaximized=true
