[Desktop Entry]
Version=1.0
Name=Binatang
Comment=Pelajari tentang semua makhluk Bumi
Type=Application
Exec=eos-animals
Icon=eos-app-com.endlessm.animals.id
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.animals.id-splash.jpg
