[Desktop Entry]
Version=1.0
Name=Encyclopedia
Name[ar]=موسوعة
Name[bn]=বিশ্বকোষ
Name[de]=Enzyklopädie
Name[es]=Enciclopedia
Name[fr]=Encyclopédie
Name[hi]=इंसाइक्लोपीडिया
Name[id]=Ensiklopedia
Name[pt_BR]=Enciclopédia
Name[ro]=Enciclopedia
Name[th]=สารานุกรม
Name[vi]=Bách khoa toàn thư
Name[zh_CN]=百科全书
Comment=The free encyclopedia that anyone can contribute to
Comment[ar]=الموسوعة المجانية التي يمكن لأي شخص أن يسهم فيها
Comment[bn]=উন্মুক্ত বিশ্বকোষ যাতে যে কেউ নিজ নিজ অবদান রাখতে পারে
Comment[de]=Die kostenlose Enzyklopädie, zu der jeder beitragen kann
Comment[es]=La enciclopedia más grande del mundo
Comment[fr]=L'encyclopédie libre à laquelle chacun peut contribuer
Comment[hi]=तीन इंसाइक्लोपीडिया हैं जिनके लिए कोई व्यक्ति योगदान दे सकता है
Comment[id]=Ensiklopedia bebas di mana semua orang dapat berkontribusi
Comment[pt_BR]=A enciclopédia livre editável por todos
Comment[ro]=Enciclopedia liberă la care poate contribui oricine
Comment[th]=สารานุกรมฟรีที่ทุกคนสามารถมีส่วนร่วมได้
Comment[vi]=Bách khoa toàn thư miễn phí mà ai cũng có thể đóng góp
Comment[zh_CN]=任何人都可投稿的免费百科全书
Type=Application
Exec=eos-encyclopedia
Icon=eos-app-com.endlessm.encyclopedia
Categories=Reference;Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.encyclopedia-splash.jpg
