[Desktop Entry]
Version=1.0
Name=Mexico
Name[ar]=المكسيك
Name[es]=México
Name[fr]=Mexique
Name[id]=Meksiko
Name[pt_BR]=México
Name[zh]=墨西哥
Name[zh_CN]=墨西哥
Comment=Learn about the country you call home and impress family and friends with the facts you know
Comment[ar]=تعلم عن البلد التي تسميها بلدي و أثر اعجاب الأصدقاء والعائلة بالحقائق التي تعرفها
Comment[es]=¡Aprende más sobre tu bello país e impresiona a tu familia y a tus amigos con todo lo que aprenderás!
Comment[fr]=Apprenez-en davantage sur le pays que vous habitez et impressionnez votre famille et vos amis avec toutes vos connaissances
Comment[id]=Belajar tentang negara impian Anda, dan membuat keluarga dan teman-teman Anda terkesan dengan fakta-fakta yang Anda kuasai
Comment[pt_BR]=Conheça melhor o seu país e impressione sua família e amigos com o que irá aprender
Comment[zh]=了解这个您当成家的国家，让您的家人朋友也铭记您所知道的信息吧。
Comment[zh_CN]=了解这个您当成家的国家，让您的家人朋友也铭记您所知道的信息吧。
Type=Application
Exec=eos-mexico
Icon=eos-app-com.endlessm.mexico
Categories=Education;
X-Endless-LaunchMaximized=true
