[Desktop Entry]
Version=1.0
Name=Creativity Center
Name[ar]=مركز الإبداع
Name[es]=Centro de creatividad
Name[fr]=Centre de créativité
Comment=Drawing, painting, music, and so much more
Comment[es]=Dibujos, pintura, música y mucho más
Type=Application
Exec=eos-creativity-center
Icon=eos-app-com.endlessm.creativity-center
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.creativity-center-splash.jpeg
