[Desktop Entry]
Version=1.0
Name=Geração Saúde
Comment=TV Escola - MEC: Entenda e aprenda a prevenir acne, manchas de sol e outras doenças de pele
Type=Application
Exec=com.endlessm.fnde_mec_health
Icon=eos-app-com.endlessm.fnde_mec_health.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
