[Desktop Entry]
Version=1.0
Name=Myths & Legends
Name[ar]=خرافات وأساطير
Name[es]=Mitos y leyendas
Name[fr]=Mythes & Légendes
Name[id]=Mitos & Legenda
Name[pt_BR]=Mitos e Lendas
Name[zh]=神话&传说
Name[zh_CN]=神话&传说
Comment=Myths and legends from around the world
Comment[ar]=خرافات وأساطير من جميع أنحاء العالم
Comment[es]=Mitos y leyendas de todo el mundo
Comment[fr]=Mythes et légendes du monde entier
Comment[id]=Mitos dan legenda dari seluruh dunia
Comment[pt_BR]=Mitos e lendas de todo o mundo
Comment[zh]=来自世界各地的神话与传说
Comment[zh_CN]=来自世界各地的神话与传说
Type=Application
Exec=eos-myths
Icon=eos-app-com.endlessm.myths
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.myths-splash.jpg
