[Desktop Entry]
Version=1.0
Name=Ciencias sociales
Comment=Materias que exploran el individuo y la sociedad
Type=Application
Exec=eos-socialsciences
Icon=eos-app-com.endlessm.socialsciences.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.socialsciences.es-splash.jpg
