[Desktop Entry]
Version=1.0
Name=EduCollections
Name[ar]=مجموعات تعليمية
Name[bn]=এডুকালেকশন
Name[es]=EduColecciones
Name[fr]=EduCollections
Name[hi]=एडुकलेक्शन
Name[id]=KoleksiEdu
Name[pt_BR]=EduColeções
Name[th]=EduCollections
Name[vi]=EduCollections
Name[zh_CN]=教育资源汇集
Comment=All sorts of information to help better your life
Comment[ar]=جميع أنواع المعلومات للمساعدة على تحسين حياتك
Comment[bn]=আপনার জীবনকে আরো উন্নত করতে সকল প্রকার তথ্য এখানে পাবেন
Comment[es]=Todo tipo de información a tu dispocisión con un clic
Comment[fr]=Toutes sortes d'informations pour vous aider à améliorer votre vie
Comment[hi]=सभी प्रकार की जानकारी जिससे अपने जीवन को बेहतर बनाने में मदद मिलती है
Comment[id]=Segala jenis informasi untuk hidup Anda yang lebih baik
Comment[pt_BR]=Informações de todo tipo para ajudar a melhorar a sua vida
Comment[th]=ทุกประเภทของข้อมูลที่จะช่วยให้ชีวิตของคุณดีขึ้น
Comment[vi]=Đủ loại thông tin giúp cuộc sống của bạn tốt hơn
Comment[zh_CN]=一切信息旨在更好服务客户
Type=Application
Exec=com.endlessm.edu_collections.es_GT
Icon=eos-app-com.endlessm.edu_collections.es_GT
Categories=Education;
X-Endless-LaunchMaximized=false
