[Desktop Entry]
Version=1.0
Name=Geography
Comment=Learn about all the countries in the world
Type=Application
Exec=eos-geography
Icon=eos-app-com.endlessm.geography.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.geography.en-splash.jpg
