[Desktop Entry]
Version=1.0
Name=สยามสปอร์ต
Comment=ข่าวสารวงการกีฬา
Type=Application
Exec=com.endlessm.siam_sport
Icon=eos-app-com.endlessm.siam_sport.th
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.siam_sport.th-splash.png
