[Desktop Entry]
Version=1.0
Name=Google Chrome
Name[es]=Google Chrome
Name[pt_BR]=Google Chorme
Name[ro]=Google Chrome
Comment=Google's popular web browser
Comment[es]=Navegador popular de Google
Comment[pt_BR]=Navegador popular do Google
Comment[ro]=Browser-ul popular Google
Type=Application
Exec=google-chrome %U
Icon=eos-app-com.google.Chrome
Categories=Utility;Blacklisted;
X-Endless-LaunchMaximized=true
NoDisplay=true
