[Desktop Entry]
Version=1.0
Name=Animais
Comment=Aprenda mais sobre todas as criaturas da Terra.
Type=Application
Exec=eos-animals
Icon=eos-app-com.endlessm.animals.pt
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.animals.pt-splash.jpg
