[Desktop Entry]
Version=1.0
Name=Curriculum
Name[es]=Currículo
Comment=From the Guatemalan Ministry of Education
Comment[ar]=من وزارة التربية والتعليم في غواتيمالا
Comment[es]=Desde el Ministerio de Educación de Guatemala
Comment[fr]=Du Ministère de l’Éducation guatémaltèque
Type=Application
Exec=eos-guatemalan-curriculum
Icon=eos-app-com.endlessm.guatemalan-curriculum
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.guatemalan-curriculum-splash.jpg
