[Desktop Entry]
Version=1.0
Name=Myths & Legends
Name[es]=Mitos y leyendas
Comment=Telling the foundational stories of the world’s many cultures, ancient and modern
Type=Application
Exec=eos-myths
Icon=eos-app-com.endlessm.myths
Categories=Education;
X-Endless-LaunchMaximized=true
