[Desktop Entry]
Version=1.0
Name=Salvadoran Curriculum Social Studies
Comment=Placeholder
Type=Application
Exec=com.endlessm.salvadoran_curriculum_social_studies
Icon=eos-app-com.endlessm.salvadoran_curriculum_social_studies
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.salvadoran_curriculum_social_studies-splash.jpg
