[Desktop Entry]
Version=1.0
Name=Physics
Comment=Learn about the physical world's mysteries
Type=Application
Exec=eos-physics
Icon=eos-app-com.endlessm.physics.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.physics.en-splash.jpg
