[Desktop Entry]
Version=1.0
Name=Animations
Comment=Trăm nghe không bằng mắt thấy
Type=Application
Exec=com.endlessm.video_animations
Icon=eos-app-com.endlessm.video_animations.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_animations.vi-splash.jpg
