[Desktop Entry]
Version=1.0
Name=História do Brasil
Comment=TV Escola - MEC: Documentários sobre diferentes períodos da História do Brasil
Type=Application
Exec=com.endlessm.fnde_mec_history
Icon=eos-app-com.endlessm.fnde_mec_history.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
