[Desktop Entry]
Version=1.0
Name=Geografi
Comment=Belajar tentang seluruh negara di dunia
Type=Application
Exec=eos-geography
Icon=eos-app-com.endlessm.geography.id
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.geography.id-splash.jpg
