[Desktop Entry]
Version=1.0
Name=Mental Health
Name[ar]=الصِّحَّةُ النَّفْسِيَّة
Name[es]=Salud Mental
Name[fr]=Santé mentale
Name[id]=Kesehatan Mental
Name[pt_BR]=Saúde Mental
Name[zh]=心理健康
Name[zh_CN]=心理健康
Comment=Tips and tricks for living a healthier, happier life
Comment[ar]=نصائح وحيل للعيش بصحةٍ أفضل وحياةٍ أكثر سعادة
Comment[es]=Consejos y trucos para vivir una vida más sana y feliz
Comment[fr]=Trucs et astuces pour mener une vie plus saine et plus heureuse
Comment[id]=Tips dan trik untuk hidup yang lebih sehat dan lebih bahagia
Comment[pt_BR]=Dicas e truques para viver uma vida mais saudável e feliz
Comment[zh]=让您的生活更健康更快乐的提示与技巧
Comment[zh_CN]=让您的生活更健康更快乐的提示与技巧
Type=Application
Exec=eos-mental-health
Icon=eos-app-com.endlessm.mental-health
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.mental-health-splash.jpeg
