[Desktop Entry]
Version=1.0
Name=Mental Health
Name[ar]=الصِّحَّةُ النَّفْسِيَّة
Name[es]=Salud Mental
Name[fr]=Santé mentale
Comment=TBD
Comment[ar]=صيغة TBD
Comment[fr]=TBD
Type=Application
Exec=eos-mental-health
Icon=eos-app-com.endlessm.mental-health
Categories=Resources;
X-Endless-LaunchMaximized=true
