[Desktop Entry]
Version=1.0
Name=Jornal Extra
Comment=Notícias que afetam o seu dia a dia
Type=Application
Exec=eos-extra
Icon=eos-app-com.endlessm.extra.pt_BR
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.extra.pt_br-splash.jpg
