[Desktop Entry]
Version=1.0
Name=Typing
Name[ar]=الطباعة
Name[es]=Teclear
Name[fr]=Taper au clavier
Name[pt]=Digitando
Comment=Learn to type with games and songs
Comment[ar]=تعلم الطباعة عن طريق الألعاب والأغاني
Comment[es]=Aprende a teclear con juegos y canciones
Comment[fr]=Apprenez à taper avec des jeux et des chansons
Comment[pt]=Aprenda a digitar com jogos e músicas
Type=Application
Exec=eos-typing
Icon=eos-app-com.endlessm.typing
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.typing-splash.jpg
