[Desktop Entry]
Version=1.0
Name=Cursos de tecnología
Comment=Aprende las habilidades necesarias para una carrera en tecnología
Type=Application
Exec=com.endlessm.capacitate_technology
Icon=eos-app-com.endlessm.capacitate_technology.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.capacitate_technology.es-splash.jpg
