[Desktop Entry]
Version=1.0
Name=Handicrafts
Name[ar]=الصناعات اليدوية
Name[es]=Artesanías
Name[fr]=Artisanats
Comment=TBD
Comment[ar]=صيغة TBD
Comment[fr]=TBD
Type=Application
Exec=eos-handicrafts
Icon=eos-app-com.endlessm.handicrafts
Categories=Resources;
X-Endless-LaunchMaximized=true
