[Desktop Entry]
Version=1.0
Name=Hot Cholocate & Mint
Comment=Blog fesyen dan gaya hidup
Type=Application
Exec=com.endlessm.dianarikasari
Icon=eos-app-com.endlessm.dianarikasari.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.dianarikasari.id-splash.jpg
