[Desktop Entry]
Version=1.0
Name=Guatemala
Name[es]=Guatemala
Name[pt]=Guatemala
Comment=Learn about the country you call home and impress family and friends with the facts you know
Comment[es]=¡Aprende más sobre tu bello país e impresiona a tu familia y a tus amigos con todo lo que aprenderás!
Comment[pt]=Conheça melhor o seu país e impressione sua família e amigos com o que irá aprender
Type=Application
Exec=eos-guatemala
Icon=com.endlessm.guatemala
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
