[Desktop Entry]
Version=1.0
Name=Spin
Comment=All sports all news
Type=Application
Exec=com.endlessm.spin
Icon=eos-app-com.endlessm.spin.ph
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.spin.ph-splash.jpg
