[Desktop Entry]
Version=1.0
Name=Brazil
Name[ar]=البرازيل
Name[bn]=ব্রাজিল
Name[es]=Brasil
Name[fr]=Brésil
Name[hi]=ब्राजील
Name[id]=Brasil
Name[pt_BR]=Brasil
Name[th]=บราซิล
Name[vi]=Brazil
Name[zh_CN]=巴西
Comment=Impress family and friends with all the facts you learn
Comment[ar]=ابهر العائلة والأصدقاء بكل الحقائق التي تتعلمها
Comment[bn]=সকল তথ্য জেনে আপনার পরিবার ও বন্ধুবান্ধবদের তাক লাগিয়ে দিন
Comment[es]=Aprende más sobre tu bello país
Comment[fr]=Impressionnez famille et amis avec toutes les informations que vous apprenez
Comment[hi]=आप अपनी जानकारी और तथ्यों से परिवार वालों और दोस्तों को प्रभावित कीजिए
Comment[id]=Buat teman-teman dan keluarga Anda terkesan dengan semua fakta yang telah Anda pelajari
Comment[pt_BR]=Conheça melhor o seu país e impressione sua família e amigos com o que irá aprender
Comment[th]=สร้างความประทับใจให้กับครอบครัวและเพื่อน ๆ ด้วยวิชาที่คุณได้เรียนรู้ทั้งหมด
Comment[vi]=Gây ấn tượng với gia đình và bạn bè về mọi điều mà bạn đã tìm hiểu được
Comment[zh_CN]=用您了解的事实打动亲人和朋友
Type=Application
Exec=eos-brazil
Icon=eos-app-com.endlessm.brazil
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.brazil-splash.jpg
