[Desktop Entry]
Version=1.0
Name=Biologia
Comment=Aprenda tudo sobre o mundo vivo ao seu redor
Type=Application
Exec=eos-biology
Icon=eos-app-com.endlessm.biology.pt
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.biology.pt-splash.jpg
