[Desktop Entry]
Version=1.0
Name=Wiki-art
Comment=Kumpulan karya seni visual yang menawan
Type=Application
Exec=com.endlessm.wiki_art
Icon=eos-app-com.endlessm.wiki_art.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.wiki_art.id-splash.jpg
