[Desktop Entry]
Version=1.0
Name=Guatemala
Name[ar]=جواتيمالا
Name[es]=Guatemala
Name[fr]=Guatemala
Name[pt]=Guatemala
Comment=Impress family and friends with all the facts you learn
Comment[ar]=ابهر العائلة والأصدقاء بكل الحقائق التي تتعلمها
Comment[es]=Aprende más sobre tu bello país
Comment[fr]=Impressionnez famille et amis avec toutes les informations que vous apprenez
Comment[pt]=Conheça melhor o seu país e impressione sua família e amigos com o que irá aprender
Type=Application
Exec=eos-guatemala
Icon=eos-app-com.endlessm.guatemala
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.guatemala-splash.jpg
