[Desktop Entry]
Version=1.0
Name=Niños
Comment=Videos que encantarán a los niños
Type=Application
Exec=com.endlessm.video_kids
Icon=eos-app-com.endlessm.video_kids.es
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_kids.es-splash.jpg
