[Desktop Entry]
Version=1.0
Name=Photo Editor
Name[ar]=محرر الصور
Name[es]=Editor de fotos
Name[fr]=Éditeur Photo
Name[pt_BR]=Editor de Fotos
Comment=Easily edit and share all of your favorite photos
Comment[ar]=حرر وشارك بسهولة كل صورك المفضلة
Comment[es]=Edita y comparte tus fotos favoritas fácilmente
Comment[fr]=Éditez et partagez facilement toutes vos photos favorites
Comment[pt_BR]=Edite as suas fotografias e crie belas imagens para compartilhar com todos os seus amigos
Type=Application
Exec=eos-photos %f
Icon=eos-app-com.endlessm.photos
Categories=Utility;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.photos-splash.jpg
