[Desktop Entry]
Version=1.0
Name=Biology
Name[ar]=الأحياء
Name[es]=Biología
Name[fr]=Biologie
Name[id]=Biologi
Name[pt_BR]=Biologia
Name[zh]=生物
Name[zh_CN]=生物
Comment=Learn all about the living world around you
Comment[ar]=تعَلم كل شيء عن العالم الموجود حولك
Comment[es]=Aprende sobre la vida en el mundo que te rodea
Comment[fr]=Apprenez tout à propos du monde vivant qui vous entoure
Comment[id]=Belajar mengenai dunia yang hidup di sekitar Anda
Comment[pt_BR]=Aprenda tudo sobre o mundo vivo ao seu redor
Comment[zh]=了解您所处世界的一切
Comment[zh_CN]=了解您所处世界的一切
Type=Application
Exec=eos-biology
Icon=eos-app-com.endlessm.biology
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.biology-splash.jpg
