[Desktop Entry]
Version=1.0
Name=Living Loving
Comment=Blog tentang semua hal yang indah
Type=Application
Exec=com.endlessm.living_loving
Icon=eos-app-com.endlessm.living_loving.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.living_loving.id-splash.jpg
