[Desktop Entry]
Version=1.0
Name=Secundaria Matemáticas 3
Comment=Contenido curricular para Matemáticas III
Type=Application
Exec=com.endlessm.campeche_matematicas3
Icon=eos-app-com.endlessm.campeche_matematicas3.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.campeche_matematicas3.es-splash.jpg
