[Desktop Entry]
Version=1.0
Name=Noticias Soy502
Comment=Espacio informativo de referencia sobre Guatemala
Type=Application
Exec=com.endlessm.soy502
Icon=eos-app-com.endlessm.soy502
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.soy502-splash.jpg
