[Desktop Entry]
Version=1.0
Name=Corpo em movimento
Comment=Encontre seu esporte favorito
Type=Application
Exec=com.endlessm.video_movement
Icon=eos-app-com.endlessm.video_movement.pt
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_movement.pt-splash.jpg
