[Desktop Entry]
Version=1.0
Name=DIY
Comment=TBD
Type=Application
Exec=eos-diy
Icon=eos-app-com.endlessm.diy
Categories=Resources;
X-Endless-LaunchMaximized=true
