[Desktop Entry]
Version=1.0
Name=Secundaria Ciencias 1
Comment=Contenido curricular para Ciencias I
Type=Application
Exec=com.endlessm.campeche_ciencias1
Icon=eos-app-com.endlessm.campeche_ciencias1.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.campeche_ciencias1.es-splash.jpg
