[Desktop Entry]
Version=1.0
Name=Math
Comment=High school math made simple and accessible
Type=Application
Exec=eos-math
Icon=eos-app-com.endlessm.math.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.math.en-splash.jpg
