[Desktop Entry]
Version=1.0
Name=Children's Collection
Comment=TBD
Type=Application
Exec=eos-childrens-collection
Icon=eos-app-com.endlessm.childrens-collection
Categories=Resources;
X-Endless-LaunchMaximized=true
