[Desktop Entry]
Version=1.0
Name=Fourth Grade - El Salvador
Comment=The official fourth grade curriculum of El Salvador
Type=Application
Exec=com.endlessm.salvadoran_curriculum_grade_4
Icon=eos-app-com.endlessm.salvadoran_curriculum_grade_4
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.salvadoran_curriculum_grade_4-splash.jpg
