[Desktop Entry]
Version=1.0
Name=Farming
Name[ar]=الزراعة
Name[bn]=কৃষিকাজ
Name[de]=Landwirtschaft
Name[es]=Agricultura
Name[fr]=Agriculture
Name[hi]=खेती
Name[id]=Bertani
Name[pt_BR]=Agricultura
Name[ro]=Agricultura
Name[th]=กสิกรรม
Name[vi]=Nông nghiệp
Name[zh_CN]=农业
Comment=Learn about crops and raising animals
Comment[ar]=تعرف على المحاصيل وتربية الحيوانات
Comment[bn]=শস্য এবং পশুপাখি পালন সম্পর্কে জানুন
Comment[de]=Lerne alles über den Anbau von Lebensmitteln und die Aufzucht von Tieren
Comment[es]=Aprende sobre los cultivos y la cría de animales
Comment[fr]=Apprenez sur les cultures et l’élevage des animaux
Comment[hi]=फसलों और पशुपालन के बारे में जानें
Comment[id]=Belajar cara memanen dan membesarkan hewan
Comment[pt_BR]=Saiba mais sobre lavouras e criação de animais
Comment[ro]=Invata despre recolta si cum sa cresti animalele
Comment[th]=เรียนรู้การปลูกพืชและเลี้ยงสัตว์
Comment[vi]=Tìm hiểu về mùa màng và chăn nuôi gia súc
Comment[zh_CN]=了解农作物和畜牧
Type=Application
Exec=eos-farming
Icon=eos-app-com.endlessm.farming
Categories=Reference;Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.farming-splash.jpg
