[Desktop Entry]
Version=1.0
Name=Animations
Name[es]=Animaciones
Name[id]=Animasi-animasi
Name[pt_BR]=Animações
Comment=Images are worth more than words
Comment[es]=Imágenes valen más que mil palabras
Comment[id]=Gambar-gambar lebih berharga dari pada kata-kata
Comment[pt_BR]=Imagens valem mais do que palavras
Comment[vi]=Trăm nghe không bằng mắt thấy
Type=Application
Exec=com.endlessm.video_animations
Icon=eos-app-com.endlessm.video_animations
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_animations-splash.jpg
