[Desktop Entry]
Version=1.0
Name=Vật lý
Comment=Tìm hiểu về những bí ẩn của thế giới vật lý
Type=Application
Exec=eos-physics
Icon=eos-app-com.endlessm.physics.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.physics.vi-splash.jpg
