[Desktop Entry]
Version=1.0
Name=La Constitución
Name[es]=La Constitución
Name[pt_BR]=A Constituição
Name[ro]= 
Comment=La entera Constitución de la República del Paraguay
Comment[es]=La entera Constitución de la República del Paraguay
Comment[pt_BR]=Constituição da República do Paraguai (na íntegra)
Comment[ro]= 
Type=Application
Exec=com.endlessm.paraguayan_constitution
Icon=eos-app-com.endlessm.paraguayan_constitution
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.paraguayan_constitution-splash.jpg
