[Desktop Entry]
Version=1.0
Name=Healthy Teeth
Name[ar]=أسنان صحية
Name[es]=Dientes sanos
Name[fr]=Dents saines
Name[hi]=स्वस्थ दांत
Name[id]=Gigi Sehat
Name[pt_BR]=Saúde Bucal
Name[th]=ฟันที่แข็งแรง
Name[vi]=Răng chắc khỏe
Name[zh_CN]=健康的牙齿
Comment=Learn to take care of your teeth
Comment[ar]=تعلم كيفية العناية بأسنانك
Comment[es]=Aprende a cuidar tus dientes
Comment[fr]=Apprenez à prendre soin de vos dents
Comment[hi]=अपने दांतों की देखभाल करना सीखें 
Comment[id]=Belajar cara merawat gigi
Comment[pt_BR]=Aprenda a cuidar de seus dentes
Comment[th]=เรียนรู้การดูแลรักษาฟันของคุณ
Comment[vi]=Tìm hiểu cách chăm sóc hàm răng của bạn
Comment[zh_CN]=学会护理您的牙齿
Type=Application
Exec=eos-healthy-teeth
Icon=eos-app-com.endlessm.healthy-teeth
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.healthy-teeth-splash.jpg
