[Desktop Entry]
Version=1.0
Name=Healthy Teeth
Name[es]=Dientes sanos
Comment=Learn to take care of your teeth
Comment[es]=Aprende a cuidar tus dientes
Type=Application
Exec=eos-healthy-teeth
Icon=eos-app-com.endlessm.healthy-teeth
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.healthy-teeth-splash.jpg
