[Desktop Entry]
Version=1.0
Name=La cocina
Comment=Recetas deliciosas y consejos para cocinar mejor
Type=Application
Exec=eos-cooking
Icon=eos-app-com.endlessm.cooking.es
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.cooking.es-splash.jpg
