[Desktop Entry]
Version=1.0
Name=Guatemala
Name[ar]=جواتيمالا
Name[bn]=গুয়াতেমালা
Name[es]=Guatemala
Name[fr]=Guatemala
Name[hi]=ग्वाटेमाला
Name[id]=Guatemala
Name[pt_BR]=Guatemala
Name[th]=กัวเตมาลา
Name[vi]=Guatemala
Name[zh_CN]=危地马拉
Comment=Learn more about this beautiful country
Comment[ar]=تعلّم المزيد عن هذه البلد الجميلة
Comment[bn]=এই সুদৃশ্য দেশটির ব্যাপারে আরো জানুন
Comment[es]=Aprende más sobre este bello país
Comment[fr]=Apprenez-en davantage sur ce beau pays
Comment[hi]=इस खूबसूरत देश के बारे में विस्तार से जानें 
Comment[id]=Ketahui lebih banyak mengenai negara yang indah ini
Comment[pt_BR]=Saiba mais sobre este belo país.
Comment[th]=เรียนรู้เพิ่มเติมเกี่ยวกับประเทศที่สวยงามนี้
Comment[vi]=Tìm hiểu thêm về quốc gia xinh đẹp này
Comment[zh_CN]=更多地了解这个魅力之国
Type=Application
Exec=eos-guatemala
Icon=eos-app-com.endlessm.guatemala
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.guatemala-splash.jpg
