[Desktop Entry]
Version=1.0
Name=Math Curriculum
Name[bn]=গণিত পাঠ্যক্রম
Name[zh_CN]=小学数学
Comment=Primary mathematics curriculum practice
Comment[bn]=প্রাথমিক গণিত পাঠ্যক্রম অনুশীলন
Comment[zh_CN]=小学数学人教版同步精练
Type=Application
Exec=com.endlessm.chinese_curriculum_math
Icon=eos-app-com.endlessm.chinese_curriculum_math
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.chinese_curriculum_math-splash.jpg
