[Desktop Entry]
Version=1.0
Name=Creativity Center
Name[es]=Centro de creatividad
Comment=TBD
Type=Application
Exec=eos-creativity-center
Icon=eos-app-com.endlessm.creativity-center
Categories=Resources;
X-Endless-LaunchMaximized=true
