[Desktop Entry]
Version=1.0
Name=Math App
Comment=temp subtitle
Type=Application
Exec=eos-math
Icon=eos-app-com.endlessm.math
Categories=
X-Endless-ShowInAppStore=false
X-Endless-LaunchMaximized=true
