[Desktop Entry]
Version=1.0
Name=Physics
Name[ar]=الفيزياء
Name[es]=Física
Name[fr]=Physique
Name[pt_BR]=Física
Comment=Learn about the physical world's mysteries
Comment[ar]=تعرف على أسرار العالم الطبيعي
Comment[es]=Aprende sobre los misterios del mundo físico
Comment[fr]=Apprenez tout sur les mystères de la physique dans le monde
Comment[pt_BR]=Saiba mais sobre os mistérios do mundo da física
Type=Application
Exec=eos-physics
Icon=eos-app-com.endlessm.physics
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.physics-splash.jpg
