[Desktop Entry]
Version=1.0
Name=MEC Library
Comment=MEC - Biblioteca com mais de 500 clássicos populares em língua estrangeira
Type=Application
Exec=com.endlessm.fnde_foreign_library
Icon=eos-app-com.endlessm.fnde_foreign_library.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
