[Desktop Entry]
Version=1.0
Name=Publimetro
Comment=El periódico sobre noticias de última hora en México y en el mundo
Type=Application
Exec=eos-publimetro
Icon=eos-app-com.endlessm.publimetro.es_MX
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.publimetro.es_mx-splash.jpg
