[Desktop Entry]
Version=1.0
Name=Jalan-jalan
Comment=Keliling dunia dari ruang tamu
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.travel.id-splash.jpg
