[Desktop Entry]
Version=1.0
Name=Social Sciences
Comment=Subjects that explore the individual and society
Type=Application
Exec=eos-socialsciences
Icon=eos-app-com.endlessm.socialsciences.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.socialsciences.en-splash.jpg
