[Desktop Entry]
Version=1.0
Name=Biology
Name[ar]=الأحياء
Name[es]=Biología
Name[fr]=Biologie
Name[pt]=Biologia
Comment=Learn all about the living world around you
Comment[ar]=تعَلم كل شيء عن العالم الموجود حولك
Comment[es]=Aprende sobre la vida en el mundo que te rodea
Comment[fr]=Apprenez tout à propos du monde vivant qui vous entoure
Comment[pt]=Aprenda tudo sobre o mundo vivo ao seu redor
Type=Application
Exec=eos-biology
Icon=eos-app-com.endlessm.biology
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.biology-splash.jpg
