[Desktop Entry]
Version=1.0
Name=Viagem
Comment=Explore sites online de todo o mundo direto da sua sala-de-estar
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel.pt
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.travel.pt-splash.jpg
