[Desktop Entry]
Version=1.0
Name=Thanh Niên
Comment= Tin tức về Việt Nam và thế giới
Type=Application
Exec=com.endlessm.thanh_nien
Icon=eos-app-com.endlessm.thanh_nien.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.thanh_nien.vi-splash.jpg
