[Desktop Entry]
Version=1.0
Name=Photo Editor
Name[ar]=محرر الصور
Name[es]=Editor de fotos
Name[pt]=Editor de Fotos
Comment=Easily edit and share all of your favorite photos
Comment[ar]=حرر وشارك بسهولة كل صورك المفضلة
Comment[es]=Edita y comparte tus fotos favoritas fácilmente
Comment[pt]=Edite as suas fotografias e crie belas imagens para compartilhar com todos os seus amigos
Type=Application
Exec=eos-photos %f
Icon=eos-app-com.endlessm.photos
Categories=Utility;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.photos-splash.jpg
