[Desktop Entry]
Version=1.0
Name=Indiechine
Comment=Blog về đồ ăn và phong cách sống Việt Nam
Type=Application
Exec=com.endlessm.indiechine
Icon=eos-app-com.endlessm.indiechine.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.indiechine.vi-splash.jpg
