[Desktop Entry]
Version=1.0
Name=Celebridades
Comment=Información y chisme sobre los más famosos
Type=Application
Exec=eos-celebrities
Icon=eos-app-com.endlessm.celebrities.es_GT
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.celebrities.es_gt-splash.jpg
