[Desktop Entry]
Version=1.0
Name=Funny Videos
Comment=Funny videos to share a good laugh with the whole family. 
Type=Application
Exec=com.endlessm.video_funny_videos
Icon=eos-app-com.endlessm.video_funny_videos.en
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_funny_videos.en-splash.jpg
