[Desktop Entry]
Version=1.0
Name=YouVideos
Comment=Share your videos with friends, family, and the world
Comment[es]=Comparte tus vídeos con amigos, familiares y el mundo o encuentra videos que te encantarán
Comment[pt]=Compartilhe os seus vídeos com amigos, família e o resto do mundo
Type=Application
Exec=eos-youvideos
Icon=eos-app-com.endlessm.youvideos
Categories=Games;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.youvideos-splash.jpg
