[Desktop Entry]
Version=1.0
Name=Travel
Name[ar]=السفر
Name[bn]=ভ্রমণ
Name[es]=¡Explora!
Name[fr]=Voyage
Name[hi]=यात्रा
Name[id]=Jalan-jalan
Name[pt_BR]=Viagem
Name[ro]=Calatoreste
Name[th]=ท่องเที่ยว
Name[vi]=Du lịch
Name[zh_CN]=旅游
Comment=Travel around the world from your living room
Comment[ar]=سافر حول العالم من غرفة معيشتك
Comment[bn]=আপনার ঘরে বসেই বিশ্বের চারদিকে ভ্রমণ করে আসুন
Comment[es]=Explora los lugares más populares del mundo
Comment[fr]=Voyagez à travers le monde à partir de votre salon
Comment[hi]=आप अपने कमरे से दुनिया भर की यात्रा करें
Comment[id]=Keliling dunia dari ruang tamu
Comment[pt_BR]=Explore sites online de todo o mundo direto da sua sala-de-estar
Comment[ro]=Calatoreste in jurul lumii din sufrageria ta
Comment[th]=ท่องเที่ยวรอบโลกจากห้องนั่งเล่นของคุณ
Comment[vi]=Du lịch vòng quanh thế giới ngay trong phòng khách của bạn
Comment[zh_CN]=在您的房间里环游世界
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel
Categories=Reference;Family;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.travel-splash.jpg
