[Desktop Entry]
Version=1.0
Name=Math
Name[ar]=رياضيات
Name[es]=Matemáticas
Name[fr]=Maths
Name[hi]=गणित
Name[id]=Matematika
Name[pt_BR]=Matemática
Name[th]=คณิตฯ
Name[vi]=Toán học
Name[zh_CN]=数学
Comment=High school math made simple and accessible
Comment[ar]=رياضيات المدرسة الثانوية أصبحت بسيطة وسهلة
Comment[es]=Matemáticas de educación secundaria accesible
Comment[fr]=Les mathématiques du lycée rendus simples et accessibles
Comment[hi]=हाई स्कूल गणित अब आसान और सुलभ हुआ 
Comment[id]=Matematika SMA dijelaskan dengan cara yang sederhana dan mudah dilakukan
Comment[pt_BR]=Matemática do ensino médio de forma simples e acessível
Comment[th]=คณิตศาสตร์โรงเรียนไฮสคูลที่ทำได้ง่ายและเข้าถึงได้
Comment[vi]=Các bài toán trung học trở nên dễ dàng và lý thú
Comment[zh_CN]=使中学数学变得简单易懂
Type=Application
Exec=eos-math
Icon=eos-app-com.endlessm.math
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.math-splash.jpg
