[Desktop Entry]
Version=1.0
Name=Giro pelo mundo
Comment=Viaje pelo mundo sem sair de casa
Type=Application
Exec=com.endlessm.video_globetrotting
Icon=eos-app-com.endlessm.video_globetrotting.pt
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_globetrotting.pt-splash.jpg
