[Desktop Entry]
Version=1.0
Name=Skype
Name[ar]=سكايب
Name[bn]=স্কাইপ
Name[de]=Skype
Name[es]=Skype
Name[fr]=Skype
Name[hi]=स्काइप 
Name[id]=Skype
Name[pt_BR]=Skype
Name[ro]=Skype
Name[th]=สไกด์
Name[vi]=Skype
Name[zh_CN]=Skype
Name[zh_TW]=Skype
Comment=Free internet calls with cheap rates to phones
Comment[ar]=مكالمات عبر الإنترنت مجانية و أجور اتصال رخيصة إلى الهواتف
Comment[bn]=বিনামূল্যে ইন্টারনেটের মাধ্যমে সস্তায় ফোন দেয়া
Comment[de]=Kostenloses Telefonieren im Internet und billige Telefonate in das normale Telefonnetz
Comment[es]=Haz llamadas gratuitas por internet
Comment[fr]=Appels par internet gratuit avec des tarifs bas pour les téléphones
Comment[hi]=फोन पर सस्ते दरों के साथ फ्री इंटरनेट कॉल्स
Comment[id]=Panggilan internet gratis dan panggilan telepon bertarif murah 
Comment[pt_BR]=Faça chamadas gratuitas pela internet e ligações baratas para telefones e celulares.
Comment[ro]=Apeluri gratuite pe internet taxa mica pe telefon
Comment[th]=โทรฟรีทางอินเทอร์เน็ตไปยังโทรศัพท์ด้วยราคาที่ถูก
Comment[vi]=Gọi điện thoại internet miễn phí với cước phí rẻ hơn
Comment[zh_CN]=免费的网络电话
Comment[zh_TW]=免費網路通話與便宜的電話費用
Type=Application
Exec=skype --resources=/endless/skype/share/skype %U
Icon=eos-app-com.microsoft.Skype
Categories=Utility;
X-Endless-LaunchMaximized=false
