[Desktop Entry]
Version=1.0
Name=Prensa Libre
Name[ar]=برنسا ليبري
Name[bn]=প্রেন্সা লিব্রে
Name[es]=Prensa Libre
Name[fr]=Prensa Libre
Name[hi]=प्रेंसा लिब्रे
Name[id]=Prensa Libre
Name[pt_BR]=Prensa Libre
Name[th]=Prensa Libre
Name[vi]=Prensa Libre
Name[zh_CN]=自由新闻报
Comment=All the news about Guatemala and the world
Comment[ar]=كل الأخبار حول غواتيمالا والعالم
Comment[bn]=গুয়াতেমালা ও বিশ্ব বিষয়ক সকল খবর
Comment[es]=Toda la información de Guatemala y el mundo
Comment[fr]=Toute l'actualité du Guatemala et du monde
Comment[hi]=ग्वाटेमाला और दुनिया भर की सारी खबरें
Comment[id]=Semua berita tentang Guatemala dan dunia
Comment[pt_BR]=Todas as notícias sobre a Guatemala e o mundo
Comment[th]=ข่าวทั้งหมดเกี่ยวกับกัวเตมาลาและโลก
Comment[vi]=Tất cả tin tức về Guatemala và thế giới
Comment[zh_CN]=关于危地马拉和世界各地的所有新闻
Type=Application
Exec=eos-prensa-libre
Icon=eos-app-com.endlessm.prensa_libre
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.prensa_libre-splash.jpg
