[Desktop Entry]
Version=1.0
Name=Disabilities
Name[ar]=الإعاقات
Name[bn]=শারিরীক অক্ষমতা
Name[es]=Neces. especiales
Name[fr]=Handicaps
Name[hi]=विकलांगताएं
Name[id]=Disabilitas
Name[pt_BR]=Deficiências
Name[th]=ร่างกายพิการ
Name[vi]=Người khuyết tật
Name[zh_CN]=缺陷
Comment=Learn how to provide the best care
Comment[ar]=تعلم كيفية تقديم أفضل مستوى من الرعاية
Comment[bn]=সর্বোত্তম যত্ন কীভাবে নিতে হয় শিখে নিন
Comment[es]=Aprende todo sobre capacidades especiales
Comment[fr]=Apprenez à donner les meilleurs soins
Comment[hi]=अच्छी देखभाल करना सीखें 
Comment[id]=Ketahui cara memberikan perawatan yang terbaik
Comment[pt_BR]=Aprenda a prestar os melhores cuidados
Comment[th]=เรียนรู้วิธีที่จะให้การดูแลที่ดีที่สุด
Comment[vi]=Tìm hiểu cách chăm sóc tốt nhất
Comment[zh_CN]=学会如何提供最佳护理
Type=Application
Exec=eos-disabilities
Icon=eos-app-com.endlessm.disabilities
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.disabilities-splash.jpg
