[Desktop Entry]
Version=1.0
Name=Social Sciences
Comment=A fascinating look at society that will help you understand yourself and your culture 
Type=Application
Exec=eos-socialsciences
Icon=eos-app-com.endlessm.socialsciences
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
