[Desktop Entry]
Version=1.0
Name=Health Generation
Comment=Understand and learn how to prevent acne, sun spots and other skin diseases
Type=Application
Exec=com.endlessm.fnde_mec_health
Icon=eos-app-com.endlessm.fnde_mec_health
Categories=Education;
X-Endless-LaunchMaximized=true
