[Desktop Entry]
Version=1.0
Name=Expediente de Evidencias
Comment=Este curso de SINADEP demuestra cómo usar una aplicación móvil para digitalizar el aprendizaje
Type=Application
Exec=com.endlessm.sinadep_curso3
Icon=eos-app-com.endlessm.sinadep_curso3.es
Categories=Reference;
X-Endless-LaunchMaximized=true
