[Desktop Entry]
Version=1.0
Name=Videos divertidos
Comment=La risa es el mejor remedio
Type=Application
Exec=com.endlessm.video_funny_videos
Icon=eos-app-com.endlessm.video_funny_videos.es
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_funny_videos.es-splash.jpg
