[Desktop Entry]
Version=1.0
Name=Geography
Name[es]=Geografía
Comment=Opening up the whole wide world for your exploration and understanding  
Comment[es]=Abriendo el mundo entero para tu exploración y entendimiento
Type=Application
Exec=eos-geography
Icon=eos-app-com.endlessm.geography
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.geography-splash.jpg
