[Desktop Entry]
Version=1.0
Name=Evidence Log
Comment=This course from SINADEP demonstrates how to use a mobile application to digitize student learning a
Type=Application
Exec=com.endlessm.sinadep_curso3
Icon=eos-app-com.endlessm.sinadep_curso3
Categories=Reference;
X-Endless-LaunchMaximized=true
