[Desktop Entry]
Version=1.0
Name=Travel
Name[ar]=السفر
Name[es]=¡Explora!
Name[fr]=Voyage
Name[id]=Perjalanan
Name[pt_BR]=Viagem
Name[zh]=旅游
Name[zh_CN]=旅游
Comment=Travel around the world from your living room
Comment[ar]=سافر حول العالم من غرفة معيشتك
Comment[es]=Explora los lugares más populares del mundo
Comment[fr]=Voyagez à travers le monde à partir de votre salon
Comment[id]=Keliling dunia dari ruang tamu
Comment[pt_BR]=Explore sites online de todo o mundo direto da sua sala-de-estar
Comment[zh]=在您的房间里环游世界
Comment[zh_CN]=在您的房间里环游世界
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.travel-splash.jpg
