[Desktop Entry]
Version=1.0
Name=Programming
Comment=Learn the basics of front-end web development with this app
Type=Application
Exec=com.endlessm.programming_guide
Icon=eos-app-com.endlessm.programming_guide.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.programming_guide.en-splash.jpg
