[Desktop Entry]
Version=1.0
Name=Escola Educação
Comment=TV Escola - MEC: A organização e o planejamento escolar em uma série de vídeos para educadores
Type=Application
Exec=com.endlessm.fnde_mec_education
Icon=eos-app-com.endlessm.fnde_mec_education.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
