[Desktop Entry]
Version=1.0
Name=পশুপাখি
Comment=পৃথিবীর পশুপাখি সম্পর্কে জানুন
Type=Application
Exec=eos-animals
Icon=eos-app-com.endlessm.animals.bn_BD
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.animals.bn_bd-splash.jpg
