[Desktop Entry]
Version=1.0
Name=Social Studies - El Salvador
Name[bn]=সামাজিক শিক্ষা - এল সালভাদর
Name[es]=Estudios Sociales y Civica - Currículo El Salvador
Name[zh_CN]=社会科学 - 萨尔瓦多
Comment=The official Social Studies curriculum of El Salvador
Comment[bn]=এল সালভাদরের সামাজিক শিক্ষার সরকারী পাঠ্যক্রম
Comment[es]=Currículo oficial de Estudios Sociales y Civica
Comment[zh_CN]=萨尔瓦多官方社会科学课程
Type=Application
Exec=com.endlessm.salvadoran_curriculum_social_studies
Icon=eos-app-com.endlessm.salvadoran_curriculum_social_studies
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.salvadoran_curriculum_social_studies-splash.jpg
