[Desktop Entry]
Version=1.0
Name=Healthy Living
Name[ar]=المعيشة الصحية
Name[es]=Buen Vivir
Name[fr]=Mode de vie sain
Name[pt_BR]=Vida Saudável
Comment=Discover what it takes to stay healthy
Comment[ar]=اكتشف ما يلزم للبقاء في صحةٍ جيدة
Comment[es]=Descubre cómo mantener buena salud
Comment[fr]=Découvrez comment faire pour rester en bonne santé
Comment[pt_BR]=Descubre o que é preciso par se manter saudável
Type=Application
Exec=eos-healthy-living
Icon=eos-app-com.endlessm.healthy-living
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.healthy-living-splash.jpeg
