[Desktop Entry]
Version=1.0
Name=Library
Comment=Literary classics for all ages
Type=Application
Exec=com.endlessm.library
Icon=eos-app-com.endlessm.library
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.library-splash.jpg
