[Desktop Entry]
Version=1.0
Name=Animal Kingdom
Name[ar]=مملكة الحيوان
Name[de]=Tierreich
Name[es]=Mundo animal
Name[fr]=Règne animal
Name[hi]=Animal Kingdom (जानवरों का साम्राज्य)
Name[id]=Dunia Hewan
Name[pt_BR]=Mundo animal
Name[th]=อาณาจักรสัตว์
Name[vi]=Vương quốc Động vật
Name[zh_CN]=动物王国
Name[zh_TW]=動物王國
Comment=All about animals
Comment[ar]=كل ما يتعلق بالحيوانات
Comment[de]=Alles über Tiere
Comment[es]=Todo sobre animales
Comment[fr]=Tout savoir sur la vie des animaux
Comment[hi]=सब कुछ जानवरों के बारे में 
Comment[id]=Semua tentang hewan
Comment[pt_BR]=Veja mais sobre o universo animal
Comment[th]=เรื่องราวสัตว์โลก
Comment[vi]=Thông tin về động vật
Comment[zh_CN]=所有内容均与动物有关
Comment[zh_TW]=關於動物的一切
Type=Application
Exec=com.endlessm.video_animal_kingdom
Icon=eos-app-com.endlessm.video_animal_kingdom
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.video_animal_kingdom-splash.jpg
