[Desktop Entry]
Version=1.0
Name=¡Explora!
Comment=Explora los lugares más populares del mundo
Type=Application
Exec=eos-travel
Icon=eos-app-com.endlessm.travel.es_GT
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.travel.es_gt-splash.jpg
