[Desktop Entry]
Version=1.0
Name=Disabilities
Comment=temp subtitle
Type=Application
Exec=eos-disabilities
Icon=eos-app-com.endlessm.disabilities
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.disabilities-splash.jpg
