[Desktop Entry]
Version=1.0
Name=DIY
Name[ar]=افعله بِنفسك
Name[es]=Manualidades
Name[fr]=DIY
Comment=Guidelines to create a wide variety of items
Comment[es]=Instrucciones para crear gran variedad de objetos
Type=Application
Exec=eos-diy
Icon=eos-app-com.endlessm.diy
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.diy-splash.jpeg
