[Desktop Entry]
Version=1.0
Name=High School
Name[es]=Escuela secundaria
Name[pt_BR]=Ensino Médio
Comment=Academic experiences to improve High School
Comment[es]=Experiencias académicas para mejorar la escuela secundaria
Comment[pt_BR]=Experiências escolares para aprimorar o Ensino Médio
Type=Application
Exec=com.endlessm.fnde_mec_high_school
Icon=eos-app-com.endlessm.fnde_mec_high_school
Categories=Education;
X-Endless-LaunchMaximized=true
