[Desktop Entry]
Version=1.0
Name=Ensino Médio
Comment=TV Escola - MEC: Experiências escolare para aprimorar o Ensino Médio
Type=Application
Exec=com.endlessm.fnde_mec_high_school
Icon=eos-app-com.endlessm.fnde_mec_high_school.pt_BR
Categories=Education;
X-Endless-LaunchMaximized=true
