[Desktop Entry]
Version=1.0
Name=Social Sciences
Name[ar]=العلوم الاجتماعية
Name[es]=Ciencias Sociales
Name[fr]=Sciences Humaines
Name[pt]=Ciências Sociais
Comment=Subjects that explore the individual and society
Comment[ar]=الموضوعات التي تستكشف الفرد والمجتمع
Comment[es]=Materias que exploran el individuo y la sociedad
Comment[fr]=Sujets explorant l'individu et la société
Comment[pt]=Temas que exploram sobre o indivíduo e a sociedade
Type=Application
Exec=eos-socialsciences
Icon=eos-app-com.endlessm.socialsciences
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.socialsciences-splash.jpg
