[Desktop Entry]
Version=1.0
Name=Astronomy
Name[ar]=الفلك
Name[es]=Astronomía
Name[fr]=Astronomie
Name[id]=Astronomi
Name[pt_BR]=Astronomia 
Name[zh]=天文学
Name[zh_CN]=天文学
Comment=Learn about the universe and all it contains
Comment[ar]=تعرف على الكون وكل ما يحتوي عليه
Comment[es]=Explora el universo y todo lo que contiene
Comment[fr]=Apprenez-en plus sur l'univers et tout ce qu'il contient
Comment[id]=Pelajari tentang alam semesta dan semua yang ada di dalamnya
Comment[pt_BR]=Aprenda sobre o universo e tudo que contém nele
Comment[zh]=了解宇宙和宇宙中的一切
Comment[zh_CN]=了解宇宙和宇宙中的一切
Type=Application
Exec=eos-astronomy
Icon=eos-app-com.endlessm.astronomy
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.astronomy-splash.jpg
