[Desktop Entry]
Version=1.0
Name=Pelajaran SD
Comment=Video pelajaran untuk tingkat SD
Type=Application
Exec=com.endlessm.inibudi_sd
Icon=eos-app-com.endlessm.inibudi_sd.id
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.inibudi_sd.id-splash.png
