[Desktop Entry]
Version=1.0
Name=Special Education
Name[id]=Pendidikan Khusus
Name[ro]=Educatia Speciala
Comment=Challenges and opportunities for people with physical and intellectual disabilities
Comment[id]=Tantangan dan kesempatan untuk orang-orang dengan keterbatasan fisik dan intelektual
Comment[ro]=Provocari si oportunutati pentru persoanele cu dizabilitati fizice si intelectuale
Type=Application
Exec=com.endlessm.fnde_mec_special_education
Icon=eos-app-com.endlessm.fnde_mec_special_education
Categories=Education;
X-Endless-LaunchMaximized=true
