[Desktop Entry]
Version=1.0
Name=Myths & Legends
Comment=Myths and legends from around the world
Type=Application
Exec=eos-myths
Icon=eos-app-com.endlessm.myths.en
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.myths.en-splash.jpg
