[Desktop Entry]
Version=1.0
Name=Prensa Libre
Comment=Toda la información de Guatemala y el mundo
Type=Application
Exec=eos-prensa-libre
Icon=eos-app-com.endlessm.prensa_libre.es_GT
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.prensa_libre.es_gt-splash.jpg
