[Desktop Entry]
Version=1.0
Name=Myths & Legends
Name[es]=Mitos y Leyendas
Comment=Myths and legends from around the world
Comment[es]=Mitos y leyendas de todo el mundo
Type=Application
Exec=eos-myths
Icon=eos-app-com.endlessm.myths
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.myths-splash.jpg
