[Desktop Entry]
Version=1.0
Name=Textbooks
Name[ar]=الكتب المدرسية
Name[es]=Libros de texto
Name[fr]=Manuels
Name[id]=Buku-buku teks
Name[pt_BR]=Livros Didáticos
Name[zh]=教材
Name[zh_CN]=教材
Comment=Math and science textbooks
Comment[ar]=الكتب المُقررة من الرياضيات والعلوم
Comment[es]=Libros de texto sobre matemáticas y ciencia
Comment[fr]=Manuels de maths et de sciences
Comment[id]=Buku pelajaran matematika dan sains
Comment[pt_BR]=Livros didáticos de matemática e ciências
Comment[zh]=数学和科学教材
Comment[zh_CN]=数学和科学教材
Type=Application
Exec=eos-textbooks
Icon=eos-app-com.endlessm.textbooks
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.textbooks-splash.jpg
