[Desktop Entry]
Version=1.0
Name=Using Excel
Name[es]=El uso del excel
Name[ro]=Folosind Excel
Comment=This course from SINADEP discusses the basic knowledge of Excel
Comment[es]=Este curso de SINADEP discute los conocimientos básicos de Excel que permite la generación de libros, con listas de alumnos para el manejo de datos cuantitativos, estudios estadísticos, formato de tablas, gráficos de resultados y funciones que permiten agilizar los procesos después del vaciado de datos, entre otros manejos.
Comment[ro]=Acest curs de la SINADEP discută despre cunoștințele de bază ale Excel
Type=Application
Exec=com.endlessm.sinadep_curso6_usoDelExcel
Icon=eos-app-com.endlessm.sinadep_curso6_usoDelExcel
Categories=Education;
X-Endless-LaunchMaximized=true
