[Desktop Entry]
Version=1.0
Name=Người nổi tiếng
Comment=Tìm hiểu thêm về người nổi tiếng yêu thích của bạn
Type=Application
Exec=eos-celebrities
Icon=eos-app-com.endlessm.celebrities.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.celebrities.vi-splash.jpg
