[Desktop Entry]
Version=1.0
Name=Microenterprises
Name[es]=Microempresas
Comment=Learn to run your own company
Comment[es]=Aprende a ejecutar tu propio negocio
Type=Application
Exec=eos-microenterprises
Icon=eos-app-com.endlessm.microenterprises
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.microenterprises-splash.jpg
