[Desktop Entry]
Version=1.0
Name=Fitness
Name[ar]=اللياقة
Name[es]=Estado Físico
Name[fr]=Fitness
Name[pt_BR]=Boa Forma
Comment=Tips for excercise and healthy living
Comment[ar]=نصائح لممارسة الرياضة والحياة الصحية
Comment[es]=Consejos para vivir una vida sana
Comment[fr]=Astuces pour l'exercice et la vie saine
Comment[pt_BR]=Cuide do seu corpo com dicas e técnicas para se exercitar e manter um estilo de vida saudável
Type=Application
Exec=eos-fitness
Icon=eos-app-com.endlessm.fitness
Categories=Resources;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.fitness-splash.jpeg
