[Desktop Entry]
Version=1.0
Name=Literatura
Comment=Lee toda la gran literatura del mundo
Type=Application
Exec=eos-world-literature
Icon=eos-app-com.endlessm.world_literature.es
Categories=Education;
X-Endless-LaunchMaximized=false
