[Desktop Entry]
Version=1.0
Name=Escola Education
Comment=a
Type=Application
Exec=com.endlessm.fnde_mec_education
Icon=eos-app-com.endlessm.fnde_mec_education
Categories=Education;
X-Endless-LaunchMaximized=true
