[Desktop Entry]
Version=1.0
Name=Rappler
Comment=Social issues from around the world
Type=Application
Exec=com.endlessm.rappler
Icon=eos-app-com.endlessm.rappler.en
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.rappler.en-splash.jpg
