[Desktop Entry]
Version=1.0
Name=Animals
Name[ar]=الحيوانات
Name[es]=Animales
Name[fr]=Animaux
Name[pt_BR]=Animais
Comment=Learn about all of Earth's creatures
Comment[ar]=تعرف على جميع المخلوقات الأرضية
Comment[es]=Aprende acerca de las criaturas de la Tierra
Comment[fr]=Apprenez à propos de toutes les créatures de la Terre
Comment[pt_BR]=Aprenda mais sobre todas as criaturas da Terra. 
Type=Application
Exec=eos-animals
Icon=eos-app-com.endlessm.animals
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.animals-splash.jpg
