[Desktop Entry]
Version=1.0
Name=History of Brazil
Name[id]=Sejarah Brazil
Name[pt_BR]=História do Brasil
Name[ro]=Istoria Braziliei
Comment=Documentaries about different periods of Brazilian history
Comment[id]=Dokumenter tentang periode waktu yang berbeda dalam sejarah Brazil
Comment[pt_BR]=Documentários sobre diferentes períodos da História do Brasil
Comment[ro]=Documentarii despre diferite perioade in istoria Braziliei
Type=Application
Exec=com.endlessm.fnde_mec_history
Icon=eos-app-com.endlessm.fnde_mec_history
Categories=Education;
X-Endless-LaunchMaximized=true
