[Desktop Entry]
Version=1.0
Name=Literature
Comment=Storytelling for children and the stories of the great masters of literature
Type=Application
Exec=com.endlessm.fnde_mec_literature
Icon=eos-app-com.endlessm.fnde_mec_literature
Categories=Education;
X-Endless-LaunchMaximized=true
