[Desktop Entry]
Version=1.0
Name=Microempresas
Comment= Aprende a ejecutar tu propio negocio
Type=Application
Exec=eos-microenterprises
Icon=eos-app-com.endlessm.microenterprises.es_GT
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.microenterprises.es_gt-splash.jpg
