[Desktop Entry]
Version=1.0
Name=Reader Dogfood Wordpress Blogs
Name[ar]=مدوّنات Reader Dogfood على وورد بريس
Name[es]=Reader Dogfood Wordpress Blogs
Name[fr]=Lecteur Dogfooding Wordpress Blogs
Name[id]=Blog-Blog Wordpress Pembaca Makanan Anjing
Name[pt_BR]=Reader Dogfood Wordpress Blogs
Name[zh]=Reader Dogfood Wordpress Blogs
Name[zh_CN]=Reader Dogfood Wordpress Blogs
Comment=Top Blogs from Blogs of the Day at Wordpress
Comment[ar]=أعلى المدوّنات من قائمة مدوّنات اليوم على وورد بريس
Comment[es]=Los mejores blogs de Blogs del Día en Wordpress
Comment[fr]=Meilleurs blogs des Blogs du jour sur Wordpress
Comment[id]=Blog Teratas dari Blog Hari Ini di Wordpress
Comment[pt_BR]=Top Blogs de Blogs do dia no Wordpress
Comment[zh]=the Day at Wordpress博客中的热门博客
Comment[zh_CN]=the Day at Wordpress博客中的热门博客
Type=Application
Exec=eos-reader-dogfood
Icon=eos-app-com.endlessm.reader-dogfood
Categories=Resources;
X-Endless-LaunchMaximized=true
