[Desktop Entry]
Version=1.0
Name=Animals
Name[ar]=الحيوانات
Name[es]=Animales
Name[fr]=Animaux
Name[id]=Hewan-hewan
Name[pt_BR]=Animais
Name[zh]=动物
Name[zh_CN]=动物
Comment=Learn about all of Earth's creatures
Comment[ar]=تعرف على جميع المخلوقات الأرضية
Comment[es]=Aprende acerca de las criaturas de la Tierra
Comment[fr]=Apprenez à propos de toutes les créatures de la Terre
Comment[id]=Pelajari tentang semua makhluk-makhluk Bumi
Comment[pt_BR]=Aprenda mais sobre todas as criaturas da Terra. 
Comment[zh]=了解地球上的一切生物
Comment[zh_CN]=了解地球上的一切生物
Type=Application
Exec=eos-animals
Icon=eos-app-com.endlessm.animals
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.animals-splash.jpg
