[Desktop Entry]
Version=1.0
Name=Typing
Name[ar]=الطباعة
Name[bn]=টাইপ করা
Name[es]=Teclear
Name[fr]=Taper au clavier
Name[hi]=टाइपिंग
Name[id]=Mengetik
Name[pt_BR]=Digitando
Name[th]=การพิมพ์
Name[vi]=Đánh máy
Name[zh_CN]=打字
Comment=Learn to type with games and songs
Comment[ar]=تعلم الطباعة عن طريق الألعاب والأغاني
Comment[bn]=খেলা ও গানের মাধ্যমে টাইপ করতে শিখুন
Comment[es]=Aprende a teclear con juegos y canciones
Comment[fr]=Apprenez à taper avec des jeux et des chansons
Comment[hi]=गेम्स और गानों के साथ टाइप करना सीखें 
Comment[id]=Pelajari mengetik dengan permainan dan lagu
Comment[pt_BR]=Aprenda a digitar com jogos e músicas
Comment[th]=เรียนการพิมพ์ด้วยเกมส์และเพลง
Comment[vi]=Học cách đánh máy với trò chơi và bài hát
Comment[zh_CN]=在游戏和音乐中学习打字
Type=Application
Exec=eos-typing
Icon=eos-app-com.endlessm.typing
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.typing-splash.jpg
