[Desktop Entry]
Version=1.0
Name=Historia
Comment=Aprende sobre eventos y las civilizaciones del mundo
Type=Application
Exec=eos-history
Icon=eos-app-com.endlessm.history.es
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.history.es-splash.jpg
