[Desktop Entry]
Version=1.0
Name=Farming
Comment=The world is an amazing place, and with this app, you’ll learn all about it. Featuring information o
Type=Application
Exec=eos-farming
Icon=eos-app-com.endlessm.farming
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
