[Desktop Entry]
Version=1.0
Name=WowShack
Comment=Subtitle for WowShack pending
Type=Application
Exec=com.endlessm.wowshack
Icon=eos-app-com.endlessm.wowshack.id
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.wowshack.id-splash.jpg
