[Desktop Entry]
Version=1.0
Name=Library
Name[bn]=পাঠাগার
Name[de]=Bücherei
Name[es]=Biblioteca
Name[hi]=पुस्तकालय
Name[id]=Perpustakaan
Name[pt_BR]=Biblioteca
Name[ro]=Librarie
Name[zh_CN]=图书馆
Comment=Classic books in portuguese children, teenagers, and adults
Comment[de]=Klassische Bücher von Kinder, Jugendliche und Erwachsene auf portugiesisch.
Comment[pt_BR]=Livros clássicos em português para crianças, jovens e adultos
Comment[ro]=Cărți clasice pentru copii portughezi, adolescenți și adulți
Type=Application
Exec=com.endlessm.fnde_library
Icon=eos-app-com.endlessm.fnde_library
Categories=Education;
X-Endless-LaunchMaximized=true
