[Desktop Entry]
Version=1.0
Name=Khoa học Xã hội
Comment=Môn học khám phá về cá nhân và xã hội
Type=Application
Exec=eos-socialsciences
Icon=eos-app-com.endlessm.socialsciences.vi
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.socialsciences.vi-splash.jpg
