[Desktop Entry]
Version=1.0
Name=Curriculum
Name[ar]=المنهاج
Name[es]=Currículo
Name[fr]=Curriculum
Name[id]=Kurikulum
Name[pt_BR]=Currículo
Name[zh]=课程
Name[zh_CN]=课程
Comment=From the Guatemalan Ministry of Education
Comment[ar]=من وزارة التربية والتعليم في غواتيمالا
Comment[es]=Del Ministerio de Educación de Guatemala
Comment[fr]=Du Ministère de l’Éducation guatémaltèque
Comment[id]=Dari Kementerian Pendidikan Guatemala
Comment[pt_BR]=Do Ministério da Educação da Guatemala
Comment[zh]=来自危地马拉教育部
Comment[zh_CN]=来自危地马拉教育部
Type=Application
Exec=eos-guatemalan-curriculum
Icon=eos-app-com.endlessm.guatemalan-curriculum
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.guatemalan-curriculum-splash.jpg
