[Desktop Entry]
Version=1.0
Name=Agricultura
Comment=Aprende sobre los cultivos y la cría de animales
Type=Application
Exec=eos-farming
Icon=eos-app-com.endlessm.farming.es_GT
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.farming.es_gt-splash.jpg
