[Desktop Entry]
Version=1.0
Name=Maternity
Name[ar]=الأمومة
Name[bn]=মাতৃত্ব
Name[es]=Maternidad
Name[fr]=Maternité
Name[hi]=मातृत्व
Name[id]=Bersalin
Name[pt_BR]=Maternidade
Name[th]=ความเป็นแม่
Name[vi]=Thai sản
Name[zh_CN]=母性
Comment=Valuable information for new mothers
Comment[ar]=معلومات قيمة للأمهات الجديدة
Comment[bn]=নতুন মায়েদের জন্য মূল্যবান তথ্যাদি
Comment[es]=Información valiosa para todas las madres
Comment[fr]=Des informations précieuses pour les nouvelles mamans
Comment[hi]=नई मांओं के लिए महत्वपूर्ण जानकारियां 
Comment[id]=Informasi yang berguna bagi para ibu baru
Comment[pt_BR]=Informações valiosas para mamães 
Comment[th]=ข้อมูลที่มีประโยชน์สำหรับคุณแม่มือใหม่
Comment[vi]=Các thông tin đáng giá dành cho những người sắp làm mẹ
Comment[zh_CN]=对新妈妈有价值的信息
Type=Application
Exec=eos-maternity
Icon=eos-app-com.endlessm.maternity
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.maternity-splash.jpg
