[Desktop Entry]
Version=1.0
Name=Sports at School
Name[id]=Kegiatan olahraga di sekolah
Name[ro]=Sportul la Scoala
Comment=Teacher-oriented program to enrich Physical Education classes
Comment[ro]=Program orientat catre profesori pentru a imbogati clasele de educație fizică
Type=Application
Exec=com.endlessm.fnde_mec_physical_education
Icon=eos-app-com.endlessm.fnde_mec_physical_education
Categories=Education;
X-Endless-LaunchMaximized=true
