[Desktop Entry]
Version=1.0
Name=History
Comment=Telling you the tales that brought our contemporary world into being
Type=Application
Exec=eos-history
Icon=eos-app-com.endlessm.history
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
