[Desktop Entry]
Version=1.0
Name=Mayan Languages
Name[ar]=لُغات المايا
Name[es]=Idiomas Maya
Name[fr]=Langues Mayan
Name[pt_BR]=Línguas Maias
Comment=Stories and dictionaries in Mayan languages
Comment[es]=Cuentos y diccionarios en los idiomas Mayas
Comment[pt_BR]=Histórias e dicionários de línguas Maias
Type=Application
Exec=eos-mayan-languages
Icon=eos-app-com.endlessm.mayan-languages
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/com.endlessm.mayan-languages-splash.jpeg
