[Desktop Entry]
Version=1.0
Name=Biologi
Comment=Belajar mengenai dunia yang hidup di sekitar Anda
Type=Application
Exec=eos-biology
Icon=eos-app-com.endlessm.biology.id
Categories=Education;Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.biology.id-splash.jpg
