[Desktop Entry]
Version=1.0
Name=มติชน ออนไลน์
Comment=หนังสือพิมพ์รายวันที่มีผู้อ่านมากที่สุดของไทย
Type=Application
Exec=com.endlessm.matichon
Icon=eos-app-com.endlessm.matichon.th
Categories=Reference;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.matichon.th-splash.jpg
