[Desktop Entry]
Version=1.0
Name=Learn English
Name[ar]=تعلم الإنجليزية
Name[es]=Aprende inglés
Name[fr]=Apprenez l'anglais
Name[hi]=अंग्रेजी सीखें
Name[id]=Belajar Bahasa Inggris
Name[pt_BR]=Aprenda Inglês
Name[th]=เรียนภาษาอังกฤษ
Name[vi]=Học tiếng Anh
Name[zh_CN]=学习英语
Comment=Learn or improve your English while having fun
Comment[ar]=تعلم أو حسن لغتك الإنجليزية من خلال المرح
Comment[es]=Diviértete aprendiendo y mejorando tu inglés
Comment[fr]=Apprenez ou améliorez votre anglais en vous amusant
Comment[hi]=खेल-खेल में अपनी अंग्रेजी सीखें या सुधारें
Comment[id]=Belajar atau meningkatkan kemampuan Bahasa Inggris Anda sambil bersenang-senang
Comment[pt_BR]=Aprenda ou evolua o seu Inglês enquanto você se diverte
Comment[th]=เรียนหรือพัฒนาภาษาอังกฤษของคุณโดยที่คุณสนุกกับมันด้วย
Comment[vi]=Vừa học hoặc cải thiện tiếng Anh vừa tận hưởng niềm vui
Comment[zh_CN]=玩乐中同时学习或提高英语
Type=Application
Exec=eos-english
Icon=eos-app-com.endlessm.english
Categories=Education;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.english-splash.jpg
