[Desktop Entry]
Version=1.0
Name=Dropbox
Name[ar]=Dropbox
Name[es]=Dropbox
Name[fr]=Dropbox
Name[pt_BR]=Dropbox
Comment=Access your files from any computer
Comment[ar]=الوصول إلى ملفاتك من أي كمبيوتر
Comment[es]=Accede a tus documentos desde cualquier computadora
Comment[fr]=Accédez à vos fichiers depuis n'importe quel ordinateur
Comment[pt_BR]=Acesse seus arquivos à partir de qualquer computador
Type=Application
Exec=dropbox_desktop
Icon=eos-app-dropbox
Categories=Utility;
X-Endless-LaunchMaximized=false
