[Desktop Entry]
Version=1.0
Name=E-mail
Name[ar]=البريد الإلكتروني
Name[es]=E-mail
Name[fr]=Email
Name[id]=Surel
Name[pt_BR]=E-mail
Name[zh]=电子邮件
Name[zh_CN]=电子邮件
Comment=Your e-mail, address book and calendar in one place
Comment[ar]=البريد الإلكتروني ودفتر العناوين والتقويم الخاص بك في مكانٍ واحد
Comment[es]=Tu e-mail, contactos y calendario todo en un lugar
Comment[fr]=Vos emails, carnet d'adresses et calendrier dans un seul endroit
Comment[id]=Surel, buku alamat dan kalender di satu tempat
Comment[pt_BR]=Ferramenta completa para gestão de e-mail, contatos e calendário
Comment[zh]=同一处的电子邮件，地址簿和日历
Comment[zh_CN]=同一处的电子邮件，地址簿和日历
Type=Application
Exec=evolution %U
Icon=eos-app-evolution
Categories=Utility;
X-Endless-LaunchMaximized=true
