[Desktop Entry]
Version=1.0
Name=Tux Racer
Name[es]=Carreras Tux
Comment=Race down icy mountains
Comment[es]=Compite en carreras en montañas heladas
Type=Application
Exec=etracer
Icon=eos-app-extremetuxracer
Categories=Games;
X-Endless-LaunchMaximized=true
