[Desktop Entry]
Version=1.0
Name=BitTorrent
Name[es]=BitTorrent
Name[pt]=BitTorrent
Comment=BitTorrent dowloader app that supports file sharing
Comment[es]=Intercambia tus archivos con otras personas por BitTorrent
Comment[pt]=Gestor de downloads BitTorrent para compartilhamento de arquivos
Type=Application
Exec=frostwire
Icon=eos-app-frostwire
Categories=Utility;
X-Endless-LaunchMaximized=true
