[Desktop Entry]
Version=1.0
Name=FrostTorrent
Name[ar]=بتتورينت
Name[es]=FrostTorrent
Name[fr]=FrostTorrent
Name[id]=FrostTorrent
Name[pt_BR]=FrostTorrent
Name[zh]=FrostTorrent
Name[zh_CN]=FrostTorrent
Comment=Download nearly anything or share your own files
Comment[ar]=قم بتحميل أي شيءٍ تقريباً أو مشاركة الملفات الخاصة بك
Comment[es]=Descarga o comparte archivos a través de internet
Comment[fr]=Téléchargez à peu près tout ou téléchargez vos propres fichiers
Comment[id]=Unduh hampir segala jenis file atau berbagi file Anda sendiri.
Comment[pt_BR]=Gestor de downloads BitTorrent para compartilhamento de arquivos
Comment[zh]=下载或分享您的个人文件
Comment[zh_CN]=下载或分享您的个人文件
Type=Application
Exec=frostwire
Icon=eos-app-frostwire
Categories=Utility;
X-Endless-LaunchMaximized=true
