[Desktop Entry]
Version=1.0
Name=FrostTorrent
Name[ar]=بتتورينت
Name[es]=FrostTorrent
Name[fr]=FrostTorrent
Name[pt_BR]=FrostTorrent
Comment=Download nearly anything or share your own files
Comment[ar]=قم بتحميل أي شيءٍ تقريباً أو مشاركة الملفات الخاصة بك
Comment[es]=Descarga o comparte archivos a través de internet
Comment[fr]=Téléchargez à peu près tout ou téléchargez vos propres fichiers
Comment[pt_BR]=Gestor de downloads BitTorrent para compartilhamento de arquivos
Type=Application
Exec=frostwire
Icon=eos-app-frostwire
Categories=Utility;
X-Endless-LaunchMaximized=true
