[Desktop Entry]
Version=1.0
Name=Frozen Bubble
Name[es]=Burbujitas
Name[pt]=Bolhinhas
Comment=The most addictive computer game you'll ever play
Comment[es]=El juego más adictivo que jamás jugarás
Comment[pt]=O jogo de computador mais viciante de todos
Type=Application
Exec=frozen-bubble
Icon=frozen-bubble
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
