[Desktop Entry]
Version=1.0
Name=Frozen Bubbles
Name[ar]=الفقاعات المتجمدة
Name[es]=Burbujitas
Name[fr]=Bulles Glacées
Name[pt_BR]=Bolhinhas
Comment=Pop bubbles before they all come crashing down
Comment[ar]=فجر الفقاعات قبل أن تسقط جميعها وتنفجر
Comment[es]=El juego más adictivo que jamás jugarás
Comment[fr]=Éclatez les bulles avant qu'elle ne viennent s'écraser
Comment[pt_BR]=O jogo de computador mais viciante de todos
Type=Application
Exec=frozen-bubble
Icon=eos-app-frozen-bubble
Categories=Games;
X-Endless-LaunchMaximized=true
