[Desktop Entry]
Version=1.0
Name=Frozen Bubbles
Name[ar]=الفقاعات المتجمدة
Name[es]=Burbujitas
Name[fr]=Bulles Glacées
Name[id]=Gelembung Beku
Name[pt_BR]=Bolhinhas
Name[zh]=Frozen Bubbles
Name[zh_CN]=Frozen Bubbles
Comment=Pop bubbles before they all come crashing down
Comment[ar]=فجر الفقاعات قبل أن تسقط جميعها وتنفجر
Comment[es]=El juego más adictivo que jamás jugarás
Comment[fr]=Éclatez les bulles avant qu'elle ne viennent s'écraser
Comment[id]=Letuskan gelembung sebelum semuanya turun menghimpit
Comment[pt_BR]=O jogo de computador mais viciante de todos
Comment[zh]=在泡泡摔破前敲击泡泡
Comment[zh_CN]=在泡泡摔破前敲击泡泡
Type=Application
Exec=frozen-bubble
Icon=eos-app-frozen-bubble
Categories=Games;
X-Endless-LaunchMaximized=true
