[Desktop Entry]
Version=1.0
Name=EduGames
Name[es]=EduJuegos
Name[pt]=Joguinhos
Comment=Puzzles, memory games, and more for kids
Comment[es]=Actividades, rompecabezas y juegos de memoria
Comment[pt]=Atividades para crianças como aprender as horas, quebra-cabeça, jogos de memória e muito mais
Type=Application
Exec=gcompris
Icon=eos-app-gcompris
Categories=Games;
X-Endless-LaunchMaximized=true
