[Desktop Entry]
Version=1.0
Name=EduGames Admin
Name[es]=EduJuegos Admin
Comment=For teachers to help their students learn
Comment[es]=Para maestros: juegos educativos para estudiantes
Type=Application
Exec=gcompris --administration
Icon=eos-app-gcompris-admin
Categories=Education;
X-Endless-LaunchMaximized=true
