[Desktop Entry]
Version=1.0
Name=Calculator
Name[ar]=الآلة الحاسبة
Name[bn]=ক্যালকুলেটর
Name[de]=Taschenrechner
Name[es]=Calculadora
Name[fr]=Calculatrice
Name[hi]=कैल्कुलेटर 
Name[id]=Calculator
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[th]=เครื่องคิดเลข
Name[vi]=Máy tính
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=A scientific calculator with many bonus tools
Comment[ar]=آلة حاسبة علمية مع العديد من الأدوات المجانية
Comment[bn]=অনেক বাড়তি সরঞ্জামসহ একটি বৈজ্ঞানিক ক্যালকুলটর
Comment[de]=Ein Taschenrechner mit wissenschaftlichen Funktionen
Comment[es]=Una calculadora científica con muchas funciones
Comment[fr]=Une calculatrice scientifique avec de nombreux outils
Comment[hi]=ढेर सारे अतिरिक्त टूल्स वाला एक वैज्ञानिक कैल्कुलेटर  
Comment[id]=Kalkulator ilmiah dengan bonus berbagai alat
Comment[pt_BR]=Calculadora científica com várias ferramentas adicionais
Comment[ro]=Un calculator stiintific cu multe unelte bonus
Comment[th]=เครื่องคิดเลขวิทยาศาสตร์พร้อมกับเครื่องมือโบนัสจำนวนมาก
Comment[vi]=Máy tính khoa học với nhiều công cụ hỗ trợ thêm
Comment[zh_CN]=一个带有各种工具的科学计算器
Comment[zh_TW]=擁有許多額外工具的科學計算機
Type=Application
Exec=gnome-calculator
Icon=eos-app-gnome-calculator
Categories=Utility;
X-Endless-LaunchMaximized=false
