[Desktop Entry]
Version=1.0
Name=Mines
Name[es]=Minas
Name[pt]=Campo Minado
Comment=Find and avoid all the dangerous mines to win
Comment[es]=Evita todas las minas peligrosas para ganar
Comment[pt]=Descubra onde estão as minas para ser o campeão deste jogo
Type=Application
Exec=gnome-mines
Icon=eos-app-gnome-mines
Categories=Games;
X-Endless-LaunchMaximized=true
