[Desktop Entry]
Version=1.0
Name=Sudoku
Name[ar]=سودوكو
Name[es]=Sudoku
Name[pt]=Sudoku
Comment=One of the most popular puzzle games of all time
Comment[ar]=أحد ألعاب الألغاز الأكثر شعبية على مر العصور
Comment[es]=Una rompecabezas popular en todo el mundo
Comment[pt]=Joga num dos quebra-cabeças mais populares de sempre
Type=Application
Exec=gnome-sudoku
Icon=eos-app-gnome-sudoku
Categories=Games;
X-Endless-LaunchMaximized=true
