[Desktop Entry]
Version=1.0
Name=Math Plotting
Comment= Numerical computing environment and programming language
Comment[es]=Usa esta calculadora para computar funciones difíciles
Comment[pt]=Ambiente de computação numérica e linguagem de programação
Type=Application
Exec=gnome-genius
Icon=eos-app-gnome-genius
Categories=Utility;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
