[Desktop Entry]
Version=1.0
Name=Math Plotting
Name[ar]=حبكة الرياضيات
Name[es]=1,2,3 genio
Name[fr]=Tracé Mathématique
Name[pt]=Matemática
Comment=Interactive computation and data visualization tool
Comment[ar]=الحوسبة التفاعلية وأداة تصوير البيانات
Comment[es]=Una calculadora avanzada para funciones difíciles
Comment[fr]=Outil de calcul interactif et de visualisation de données
Comment[pt]=Ambiente de computação numérica e linguagem de programação
Type=Application
Exec=gnome-genius
Icon=eos-app-gnome-genius
Categories=Utility;
X-Endless-LaunchMaximized=true
