[Desktop Entry]
Version=1.0
Name=Notes
Name[es]=Notas
Name[pt]=Anotações
Comment=Jot down your notes and easily access them from your desktop
Comment[es]=Anota tus pensamientos y mantén tus notas organizadas fácilmente en tu escritorio
Comment[pt]=Faça suas anotações e as encontre facilmente na sua área de trabalho
Type=Application
Exec=gnote %u
Icon=eos-app-gnote
Categories=Utility;
X-Endless-LaunchMaximized=true
