[Desktop Entry]
Version=1.0
Name=Notes
Name[ar]=ملاحظات 
Name[es]=Notas
Name[pt]=Anotações
Comment=Never lose a note again
Comment[ar]=لن تفقد ملاحظةً مرةً أخرى
Comment[es]=Jamás volverás a perder una nota
Comment[pt]=Faça suas anotações e as encontre facilmente na sua área de trabalho
Type=Application
Exec=gnote %u
Icon=eos-app-gnote
Categories=Utility;
X-Endless-LaunchMaximized=true
