[Desktop Entry]
Version=1.0
Name=GT Curriculum
Name[ar]=مناهج الطلبة المتميزين
Name[es]=Currículo
Name[fr]=GT Curriculum
Name[id]=Kurikulum GT
Name[pt_BR]=Currículo Escolar
Name[zh]=GT课程
Name[zh_CN]=GT课程
Comment=From the Guatemalan Ministry of Education
Comment[ar]=من وزارة التربية والتعليم في غواتيمالا
Comment[es]=Del Ministerio de Educación de Guatemala
Comment[fr]=Du Ministère de l’Éducation guatémaltèque
Comment[id]=Dari Kementerian Pendidikan Guatemala
Comment[pt_BR]=Do Ministério da Educação da Guatemala
Comment[zh]=来自危地马拉教育部
Comment[zh_CN]=来自危地马拉教育部
Type=Application
Exec=gt-curriculum
Icon=eos-app-gt-curriculum
Categories=Education;
X-Endless-LaunchMaximized=false
