[Desktop Entry]
Version=1.0
Name=EduCollections
Name[es]=EduColecciónes
Comment=All sorts of information to help better your life
Comment[es]=Todo tipo de información a tu dispocisión con un clic
Type=Application
Exec=gt-education
Icon=eos-app-gt-education
Categories=Education;
X-Endless-LaunchMaximized=false
