[Desktop Entry]
Version=1.0
Name=EduCollections
Name[ar]=مجموعات تعليمية
Name[es]=EduColecciones
Name[fr]=EduCollections
Name[id]=KoleksiEdu
Name[pt_BR]=EduColeções
Name[zh]=教育资源汇集
Name[zh_CN]=教育资源汇集
Comment=All sorts of information to help better your life
Comment[ar]=جميع أنواع المعلومات للمساعدة على تحسين حياتك
Comment[es]=Todo tipo de información a tu dispocisión con un clic
Comment[fr]=Toutes sortes d'informations pour vous aider à améliorer votre vie
Comment[id]=Segala jenis informasi untuk hidup Anda yang lebih baik
Comment[pt_BR]=Informações de todo tipo para ajudar a melhorar a sua vida
Comment[zh]=一切信息旨在更好服务客户
Comment[zh_CN]=一切信息旨在更好服务客户
Type=Application
Exec=gt-education
Icon=eos-app-gt-education
Categories=Education;
X-Endless-LaunchMaximized=false
