[Desktop Entry]
Version=1.0
Name=GT Education
Name[es]=GT Educación
Comment=Colección Educativa Guatemala
Type=Application
Exec=gt-education
Icon=eos-app-gt-education
Categories=Education;
X-Endless-LaunchMaximized=true
