[Desktop Entry]
Version=1.0
Name=Health Guides
Name[es]=Guías de salud
Comment=Health guides that could save your life
Comment[es]=Guías de salud que podrían salvar tu vida
Type=Application
Exec=gt-health
Icon=eos-app-gt-health
Categories=Resources;
X-Endless-LaunchMaximized=true
