[Desktop Entry]
Version=1.0
Name=Health Guides
Name[ar]=الإرشادات الصحية
Name[es]=Guías de salud
Name[fr]=Guides de Santé
Name[pt]=Guias de Saúde
Comment=Health guides that could save your life
Comment[ar]=أدلة صحية يمكن أن تنقذ حياتك
Comment[es]=Guías de salud que podrían salvar tu vida
Comment[fr]=Guides de santé qui peuvent sauver votre vie
Comment[pt]=Guias de saúde que podem salvar sua vida
Type=Application
Exec=gt-health
Icon=eos-app-gt-health
Categories=Resources;
X-Endless-LaunchMaximized=false
