[Desktop Entry]
Version=1.0
Name=Health Guides
Name[es]=Guías de salud
Name[pt]=Guias de Saúde
Comment=Health guides that could save your life
Comment[es]=Guías de salud que podrían salvar tu vida
Comment[pt]=Guias de saúde que podem salvar sua vida
Type=Application
Exec=gt-health
Icon=eos-app-gt-health
Categories=Resources;
X-Endless-LaunchMaximized=false
