[Desktop Entry]
Version=1.0
Name=Textbooks
Name[ar]=الكتب المدرسية
Name[es]=Libros de texto
Name[fr]=Manuels
Name[pt]=Livros Didáticos
Comment=Textbooks for students, parents and teachers
Comment[ar]=الكتب المدرسية للطلاب وأولياء الأمور والمعلمين
Comment[es]=Libros de texto para estudiantes y maestros
Comment[fr]=Manuels pour étudiants, parents et enseignants
Comment[pt]=Livros didáticos para alunos, pais e professores
Type=Application
Exec=gt-textbooks
Icon=eos-app-gt-textbooks
Categories=Education;
X-Endless-LaunchMaximized=false
