[Desktop Entry]
Version=1.0
Name=GT Curriculum
Comment=Guatemala Currículo Nacional Base
Type=Application
Exec=temp_exec
Icon=eos-app-gt_curriculum
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
