[Desktop Entry]
Version=1.0
Name=Iagno
Name[ar]=لعبة لاغنو
Name[es]=Iagno
Name[fr]=Iagno
Name[pt]=Iagno
Comment=A fun puzzle game that involves lots of thought
Comment[ar]=لعبة ألغاز ممتعة تتطلب تفكير كبير
Comment[es]=Entretenidos rompecabezas que te harán pensar
Comment[fr]=Un jeu de puzzle amusant qui nécessite beaucoup de réflexion
Comment[pt]=Tente virar todas as peças para a sua cor nesse jogo de quebrar a cabeça
Type=Application
Exec=iagno
Icon=eos-app-iagno
Categories=Games;
X-Endless-LaunchMaximized=true
