[Desktop Entry]
Version=1.0
Name=Kapman
Name[es]=PacMan II
Comment=Pac-Man clone
Comment[es]=Clon de Pac-Man
Type=Application
Exec=kapman
Icon=eos-app-kapman
Categories=Games;
X-Endless-LaunchMaximized=true
