[Desktop Entry]
Version=1.0
Name=KAtomic
Name[ar]=لعبة الكاتوميك
Name[es]=Átomos
Name[fr]=KAtomic
Name[pt]=KAtomic
Comment=A fun way to learn chemistry
Comment[ar]=طريقة ممتعة لتعلم الكيمياء
Comment[es]=Una manera divertida de aprender química
Comment[fr]=Une façon amusante d'apprendre la chimie
Comment[pt]=Um jeito divertido de aprender química
Type=Application
Exec=katomic -caption %c
Icon=eos-app-katomic
Categories=Games;
X-Endless-LaunchMaximized=true
