[Desktop Entry]
Version=1.0
Name=KBlocks
Name[es]=TetriBloques
Name[pt]=KBlocks
Comment=Match blocks to destroy them and win
Comment[es]=Combina bloques de manera que se desaparezcan
Comment[pt]=Agrupe os blocos para destruí-los e ganhar o jogo
Type=Application
Exec=kblocks -caption %c
Icon=eos-app-kblocks
Categories=Games;
X-Endless-LaunchMaximized=true
