[Desktop Entry]
Version=1.0
Name=KBruch
Name[ar]=كي بروتش
Name[es]=Fracciones
Name[fr]=KBruch
Name[pt]=KBruch
Comment=Learn about fractions, percentages and more
Comment[ar]=تعلم الكسور، والنسب المئوية وأكثر من ذلك
Comment[es]=Aprende sobre fracciones, porcentajes y más
Comment[fr]=Apprenez les fractions, les pourcentages et davantages
Comment[pt]=Saiba mais sobre frações, porcentagens e muito mais
Type=Application
Exec=kbruch -caption %c %i
Icon=eos-app-kbruch
Categories=Education;
X-Endless-LaunchMaximized=true
