[Desktop Entry]
Version=1.0
Name=KDiamond
Name[ar]=كيدايموند
Name[es]=Diamantes
Name[fr]=KDiamond
Name[id]=KDiamond
Name[pt_BR]=KDiamante
Name[zh]=KDiamond
Name[zh_CN]=KDiamond
Comment=Create lines of three diamonds
Comment[ar]=أنشئ اسطر من ثلاث ماسات
Comment[es]=Crea líneas de tres diamantes
Comment[fr]=Créez des lignes de trois diamants
Comment[id]=Buat garis dari tiga intan
Comment[pt_BR]=Crie linhas de três diamantes
Comment[zh]=将三颗以上同样的宝石连成一条线
Comment[zh_CN]=将三颗以上同样的宝石连成一条线
Type=Application
Exec=kdiamond -caption %c
Icon=eos-app-kdiamond
Categories=Games;
X-Endless-LaunchMaximized=true
