[Desktop Entry]
Version=1.0
Name=KDiamond
Name[ar]=كيدايموند
Name[es]=Diamantes
Name[fr]=KDiamond
Name[pt]=KDiamante
Comment=Create lines of three diamonds
Comment[ar]=أنشئ اسطر من ثلاث ماسات
Comment[es]=Crea líneas de tres diamantes
Comment[fr]=Créez des lignes de trois diamants
Comment[pt]=Crie linhas de três diamantes
Type=Application
Exec=kdiamond -caption %c
Icon=eos-app-kdiamond
Categories=Games;
X-Endless-LaunchMaximized=true
