[Desktop Entry]
Version=1.0
Name=KGoldrunner
Name[ar]=كي جولد رنر
Name[es]=Minas de Oro
Name[pt]=Corrida Dourada
Comment=Look for treasure and hide from enemies
Comment[ar]=البحث عن الكنز و الاختباء من الأعداء
Comment[es]=Busca el tesoro y escóndete de tus enemigos
Comment[pt]=Procure pelo tesouro e se esconda dos inimigos 
Type=Application
Exec=kgoldrunner
Icon=eos-app-kgoldrunner
Categories=Games;
X-Endless-LaunchMaximized=true
