[Desktop Entry]
Version=1.0
Name=KHangMan
Name[ar]=كي هانجمان
Name[es]=Ahorcado
Name[fr]=KHangMan
Name[pt]=Forca
Comment=One of the most fun word games on earth
Comment[ar]=واحدة من أكثر ألعاب الكلمات متعة على الأرض
Comment[es]=Juego de vocabulario hecho para niños de 6+ años
Comment[fr]=Un des jeux de mots les plus amusants du monde
Comment[pt]=Um dos jogos de palavra mais divertidos do planeta
Type=Application
Exec=khangman -caption %c %i
Icon=eos-app-khangman
Categories=Games;
X-Endless-LaunchMaximized=true
