[Desktop Entry]
Version=1.0
Name=Kigo
Name[es]=Go
Comment=Go game
Comment[es]=Un juego vigorizante
Type=Application
Exec=kigo %i -caption %c
Icon=eos-app-kigo
Categories=Games;
X-Endless-LaunchMaximized=true
