[Desktop Entry]
Version=1.0
Name=Kigo
Name[ar]=كييجو
Name[es]=Go
Name[fr]=Kigo
Name[pt_BR]=Kigo 
Comment=The ancient game of skill, updated for modern play
Comment[ar]=اللعبة القديمة لعكس المهارات تم تحديثها لتصبح لعبة حديثة
Comment[es]=Un juego vigorizante
Comment[fr]=L'ancestral jeu d'adresse, repensé pour l'amusement moderne
Comment[pt_BR]=O antigo jogo de habilidade, atualizado para um jogo moderno
Type=Application
Exec=kigo %i -caption %c
Icon=eos-app-kigo
Categories=Games;
X-Endless-LaunchMaximized=true
