[Desktop Entry]
Version=1.0
Name=Kolor Lines
Name[ar]=خطوط كولور
Name[es]=Kolor líneas
Name[fr]=Kolor Lines
Name[id]=Garis Berwarna
Name[pt_BR]=Linhas Coloridas
Name[zh]=颜色线条
Name[zh_CN]=颜色线条
Comment=Line up balls of the same color to win
Comment[ar]=قم بصف الكرات من نفس اللون للفوز
Comment[es]=Alinea los círculos del mismo color para ganar
Comment[fr]=Alignez des balles de la même couleur pour gagner
Comment[id]=Deretkan bola yang sama warnanya agar menang
Comment[pt_BR]=Alinhe as bolas da mesma cor para ganhar
Comment[zh]=将相同颜色的球连成一条线极为获胜。
Comment[zh_CN]=将相同颜色的球连成一条线极为获胜。
Type=Application
Exec=klines -caption %c
Icon=eos-app-klines
Categories=Games;
X-Endless-LaunchMaximized=true
