[Desktop Entry]
Version=1.0
Name=Kolor Lines
Name[es]=LíneasBonitas
Comment=Color lines game
Comment[es]=Colorea y dibuja lo que más se te ocurra 
Type=Application
Exec=klines -caption %c
Icon=eos-app-klines
Categories=Leisure;
X-Endless-LaunchMaximized=true
