[Desktop Entry]
Version=1.0
Name=KMines
Name[ar]=كي ماينز
Name[es]=KMinas
Name[pt]=Campo Minado
Comment=Stay away from the exploding mines
Comment[ar]=ابتعد عن الألغام المتفجرة
Comment[es]=Manténte alejado minas peligrosas
Comment[pt]=Fique longe das minas explosivas
Type=Application
Exec=kmines -caption %c
Icon=eos-app-kmines
Categories=Games;
X-Endless-LaunchMaximized=true
