[Desktop Entry]
Version=1.0
Name=KMines
Name[ar]=كي ماينز
Name[es]=KMinas
Name[fr]=KMines
Name[hi]=केमाइंस
Name[id]=KMines
Name[pt_BR]=Campo Minado
Name[th]=KMines
Name[vi]=KMines
Name[zh_CN]=KMines
Comment=Stay away from the exploding mines
Comment[ar]=ابتعد عن الألغام المتفجرة
Comment[es]=Manténte alejado minas peligrosas
Comment[fr]=Restez à l'écart des mines explosives
Comment[hi]=विस्फोट करने खदानों से खुद को बचाएं
Comment[id]=Jauhi ranjau
Comment[pt_BR]=Fique longe das minas explosivas
Comment[th]=ออกห่างจากเหมืองแร่ที่กำลังระเบิด
Comment[vi]=Tránh xa các vụ nổ mìn
Comment[zh_CN]=远离爆炸矿山
Type=Application
Exec=kmines -caption %c
Icon=eos-app-kmines
Categories=Games;
X-Endless-LaunchMaximized=true
