[Desktop Entry]
Version=1.0
Name=Battleships
Name[ar]=سفن الحرب
Name[es]=Batalla Naval
Name[pt]=Batalha Naval
Comment=Blow your opponents out of the water
Comment[ar]=فجّر  خصومك من الماء
Comment[es]=Elimina a tus adversarios con tu barco de guerra
Comment[pt]=Exploda os navios oponentes
Type=Application
Exec=knavalbattle -caption %c %U
Icon=eos-app-knavalbattle
Categories=Games;
X-Endless-LaunchMaximized=true
