[Desktop Entry]
Version=1.0
Name=Battleships
Name[ar]=سفن الحرب
Name[es]=Batalla naval
Name[fr]=Vaisseaux de guerre
Name[pt_BR]=Batalha Naval
Comment=Blow your opponents out of the water
Comment[ar]=فجّر  خصومك من الماء
Comment[es]=Elimina a tus adversarios con tu barco de guerra
Comment[fr]=Explosez votre adversaire pour le faire couler
Comment[pt_BR]=Exploda os navios oponentes
Type=Application
Exec=knavalbattle -caption %c %U
Icon=eos-app-knavalbattle
Categories=Games;
X-Endless-LaunchMaximized=true
