[Desktop Entry]
Version=1.0
Name=KSquares
Name[ar]=كي سكويرز
Name[es]=Totito chino
Name[fr]=KSquares
Name[hi]=केस्क्वेयर्स
Name[id]=KSquares
Name[pt_BR]=Ponto a Ponto
Name[th]=KSquares
Name[vi]=KSquares
Name[zh_CN]=KSquares
Comment=Connect the dots in this challenging strategy game
Comment[ar]=صل بين النقط في هذه اللعبة الاستراتيجية الصعبة
Comment[es]=Juego de puntos y cuadrados
Comment[fr]=Connectez les points dans ce jeu de stratégie stimulant
Comment[hi]=इस चुनौती भरे रणनैतिक खेल में डॉट्स आपस में जोड़िए
Comment[id]=Hubungkan titik-titik dalam permainan strategi yang menantang ini
Comment[pt_BR]=Ligue os pontos neste jogo de estratégia desafiador
Comment[th]=เชื่อมจุดในเกมกลยุทธ์ที่ท้าทายนี้
Comment[vi]=Nối các điểm với nhau trong trò chơi chiến thuật đầy thử thách này
Comment[zh_CN]=在此具有挑战性的策略游戏中链接相关点
Type=Application
Exec=ksquares %i -caption %c
Icon=eos-app-ksquares
Categories=Games;
X-Endless-LaunchMaximized=true
