[Desktop Entry]
Version=1.0
Name=KSnakeDuel
Name[ar]=كي سنيك ديوال
Name[es]=DueloSSS
Name[fr]=KSnakeDuel
Name[id]=KSnakeDuel
Name[pt_BR]=Cobrinha
Name[zh]=KSnakeDuel
Name[zh_CN]=KSnakeDuel
Comment=Survival depends on your reflexes and wits
Comment[ar]=البقاء على قيد الحياة يعتمد على ردود أفعالك وذكائك الخاص
Comment[es]=La supervivencia depende de tus reflejos e ingenio
Comment[fr]=La survie dépend de vos réflexes et de votre esprit
Comment[id]=Keselamatan tergantung pada kecepatan refleks dan kecerdikan Anda
Comment[pt_BR]=Sobreviver depende de seus reflexos e inteligência
Comment[zh]=你的智慧和反应能力决定你的生存
Comment[zh_CN]=你的智慧和反应能力决定你的生存
Type=Application
Exec=ktron -caption %c %i
Icon=eos-app-ktron
Categories=Games;
X-Endless-LaunchMaximized=true
