[Desktop Entry]
Version=1.0
Name=KSnakeDuel
Name[ar]=كي سنيك ديوال
Name[es]=DueloSSS
Name[fr]=KSnakeDuel
Name[pt_BR]=Cobrinha
Comment=Survival depends on your reflexes and wits
Comment[ar]=البقاء على قيد الحياة يعتمد على ردود أفعالك وذكائك الخاص
Comment[es]=La supervivencia depende de tus reflejos e ingenio
Comment[fr]=La survie dépend de vos réflexes et de votre esprit
Comment[pt_BR]=Sobreviver depende de seus reflexos e inteligência
Type=Application
Exec=ktron -caption %c %i
Icon=eos-app-ktron
Categories=Games;
X-Endless-LaunchMaximized=true
