[Desktop Entry]
Version=1.0
Name=Potato Guy
Name[es]=Cara de Papa
Name[pt]=Sr. Batata
Comment=Give your potato a funny face
Comment[es]=Dale una cara graciosa a tu patata
Comment[pt]=Dê uma cara engraçada ao Sr. Batata
Type=Application
Exec=ktuberling -caption %c %u
Icon=eos-app-ktuberling
Categories=Games;
X-Endless-LaunchMaximized=true
