[Desktop Entry]
Version=1.0
Name=KWordQuiz
Name[es]=Vocabulario
Comment=Grow your vocabulary and test your learning
Comment[es]=Aprende usando tarjetas virtuales
Type=Application
Exec=kwordquiz -caption %c %i
Icon=eos-app-kwordquiz
Categories=Education;
X-Endless-LaunchMaximized=true
