[Desktop Entry]
Version=1.0
Name=KWordQuiz
Name[ar]=كي وورد كويز
Name[es]=Vocabulario
Name[fr]=KWordQuiz
Name[pt_BR]=Mais Palavras
Comment=Grow your vocabulary and test your learning
Comment[ar]=حسن مفرداتك واختبر تعلمك
Comment[es]=Aprende usando tarjetas virtuales
Comment[fr]=Améliorez votre vocabulaire et testez votre apprentissage
Comment[pt_BR]=Aumente seu vocabulário e teste seu aprendizado
Type=Application
Exec=kwordquiz -caption %c %i
Icon=eos-app-kwordquiz
Categories=Education;
X-Endless-LaunchMaximized=true
