[Desktop Entry]
Version=1.0
Name=Mind Maps
Name[ar]=الخرائط الذهنية
Name[es]=Mapas mentales
Name[fr]=Cartes heuristiques
Name[id]=Pemetaan Pikiran
Name[pt_BR]=Mapas mentais
Name[zh]=思维导图
Name[zh_CN]=思维导图
Comment=Create mind maps with text, images, and drawings
Comment[ar]=كوّن خرائط ذهنيّة باستخدام النصوص والصور، والرسومات
Comment[es]=Crea mapas mentales con texto, imágenes y dibujos
Comment[fr]=Créez des cartes heuristiques avec du texte, des images, et des dessins
Comment[id]=Ciptakan peta pikiran dengan teks, bayangan, dan gambar
Comment[pt_BR]=Crie mapas mentais com textos, imagens e desenhos
Comment[zh]=用文本、图像、草图创建思维导图
Comment[zh_CN]=用文本、图像、草图创建思维导图
Type=Application
Exec=labyrinth
Icon=eos-app-labyrinth
Categories=Education;
X-Endless-LaunchMaximized=true
