[Desktop Entry]
Version=1.0
Name=Presentation
Name[ar]=العرض التقديمي
Name[es]=Presentaciones
Name[fr]=Présentation
Name[id]=Presentasi
Name[pt_BR]=Apresentação
Name[zh]=展示
Name[zh_CN]=展示
Comment=Create great presentations with this easy-to-use app
Comment[ar]=جهز عرضاً تقديمياً رائعاً بإستخدام هذا التطبيق السهل
Comment[es]=Crea presentaciones espectaculares
Comment[fr]=Créez de superbes présentation avec cette application facile à utiliser
Comment[id]=Buat presentasi yang memukau dengan aplikasi yang mudah digunakan ini
Comment[pt_BR]=Faz apresentações com modelos pré-definidos, arte, efeitos especiais e ferramentas de desenho especializadas
Comment[zh]=用该便捷App创建展示
Comment[zh_CN]=用该便捷App创建展示
Type=Application
Exec=libreoffice --impress %U
Icon=eos-app-libreoffice-impress
Categories=Utility;
X-Endless-LaunchMaximized=true
