[Desktop Entry]
Version=1.0
Name=Writer
Name[ar]=الكاتب
Name[es]=Escritor
Name[fr]=Écriture
Name[hi]=राइटर 
Name[id]=Penulis
Name[pt_BR]=Redator
Name[th]=นักเขียน
Name[vi]=Trình biên soạn
Name[zh_CN]=作者
Comment=Free, similar to & compatible with Microsoft Word
Comment[ar]=مجاني و متشابه و متوافق مع مايكروسوفت وورد
Comment[es]=Parecido a y compatible con Microsoft Word, pero gratis
Comment[fr]=Gratuit, similaire et compatible à Microsoft Word
Comment[hi]=मुफ़्त, माइक्रोसॉफ्ट वर्ड के समान और उसके लिए उपयुक्त
Comment[id]=Gratis, mirip & kompatibel dengan Microsoft Word
Comment[pt_BR]=Ferramenta de processamento de texto e editorial
Comment[th]=ฟรี คล้ายและเข้ากันได้กับโปรแกรม Microsoft Word
Comment[vi]=Miễn phí, tương tự với và tương thích với Microsoft Word
Comment[zh_CN]=免费、近似且与word兼容
Type=Application
Exec=libreoffice --writer %U
Icon=eos-app-libreoffice-writer
Categories=Utility;
X-Endless-LaunchMaximized=true
