[Desktop Entry]
Version=1.0
Name=M.A.R.S.
Comment=Ridiculous space shooter governed by the laws of gravity
Comment[es]=Tirador en el espacio regido por la ley de gravedad
Type=Application
Exec=mars
Icon=eos-app-marsshooter
Categories=Games;
X-Endless-LaunchMaximized=true
