[Desktop Entry]
Version=1.0
Name=M.A.R.S.
Name[ar]=لعبة مارس
Name[es]=M.A.R.S.
Name[fr]=M.A.R.S.
Name[pt_BR]=M.A.R.S.
Comment=A shooting game in space
Comment[ar]=لعبة إطلاق نار في الفضاء
Comment[es]=Un juego de batalla en el espacio
Comment[fr]=Jeu de tir dans l'espace
Comment[pt_BR]=Um jogo de tiros no espaço
Type=Application
Exec=mars
Icon=eos-app-marsshooter
Categories=Games;
X-Endless-LaunchMaximized=true
