[Desktop Entry]
Version=1.0
Name=MegaGlest
Name[ar]=ميجاغليست
Name[es]=MegaGlest
Name[pt]=MegaGlest
Comment=A fantasy world with kings, queens and magic
Comment[ar]=عالم خيالي مع الملوك و الملكات و السحر
Comment[es]=Un mundo de fantasía con reyes, reinas y magia
Comment[pt]=Um mundo de fantasia com reis, rainhas e magia
Type=Application
Exec=megaglest
Icon=eos-app-megaglest
Categories=Games;
X-Endless-LaunchMaximized=true
