[Desktop Entry]
Version=1.0
Name=Warzone 2100
Name[ar]=وورزون 2100 (ساحة الحرب 2100)
Name[es]=Warzone 2100
Name[fr]=Warzone 2100
Name[hi]=वारजोन 2100
Name[id]=Zona Perang 2100
Name[pt_BR]=Warzone 2100
Name[th]=Warzone 2100
Name[vi]=Warzone 2100
Name[zh_CN]=Warzone 2100
Comment=Lead your troops to rebuild the world
Comment[ar]=قُد قواتك لإعادة بناء العالم
Comment[es]=Dirige a tus tropas para reconstruir el mundo
Comment[fr]=Dirigez vos troupes pour reconstruire le monde
Comment[hi]=दुनिया के पुनर्निर्माण के लिए अपने सैनिकों का नेतृत्व करें  
Comment[id]=Pimpin pasukan Anda untuk membangun ulang dunia
Comment[pt_BR]=Lidere suas tropas para reconstruir o mundo
Comment[th]=นำกองกำลังของคุณเพื่อจะสร้างโลก
Comment[vi]=Dẫn dắt binh lính xây dựng lại thế giới
Comment[zh_CN]=带领您的军队重建世界
Type=Application
Exec=warzone2100 --fullscreen
Icon=eos-app-net.wz2100.Warzone2100
Categories=Games;
X-Endless-LaunchMaximized=true
