[Desktop Entry]
Version=1.0
Name=Warmux
Name[ar]=وورماكس
Name[bn]=ওয়ারমাক্স
Name[es]=Warmux
Name[fr]=Warmux
Name[hi]=वारमक्स
Name[id]=Warmux
Name[pt_BR]=WarMUX
Name[th]=Warmux
Name[vi]=Warmux
Name[zh_CN]=Warmux
Comment=Make your computer a battle of wit and war
Comment[ar]=أجعل حاسوبك معركة من الحنكة و الحرب
Comment[bn]=আপনার কম্পিউটারকে বুদ্ধি ও লড়াইয়ের একটি রণক্ষেত্র বানিয়ে ফেলুন
Comment[es]=Un juego de guerra virtual
Comment[fr]=Transformez votre ordinateur en champ de bataille de l'esprit
Comment[hi]=अपने कम्प्यूटर को बुद्धिमानी और जंग का संघर्ष बनाएं 
Comment[id]=Jadikan komputer Anda sarana untuk mengadu kecerdasan dan strategi
Comment[pt_BR]=Faça do seu computador uma batalha de guerra e inteligência
Comment[th]=ทำให้คอมของคุณเป็นสนามรบทางปัญญาและสงคราม
Comment[vi]=Biến máy tính của bạn thành trận chiến của trí óc và giao tranh
Comment[zh_CN]=一场智慧与战斗交织的虚拟战争
Type=Application
Exec=warmux
Icon=eos-app-net.sourceforge.Warmux
Categories=Game;
X-Endless-LaunchMaximized=false
