[Desktop Entry]
Version=1.0
Name=Tux Football
Name[ar]=تكس كرة القدم
Name[bn]=টাক্স ফুটবল
Name[de]=Tux Football
Name[es]=Tux fútbol
Name[fr]=Tux Football
Name[hi]=टक्स फुटबॉल
Name[id]=Tux Sepak Bola
Name[pt_BR]=Tux Futebol
Name[ro]=Tux Football
Name[th]=Tux Football
Name[vi]=Tux Football
Name[zh_CN]=Tux Football
Name[zh_TW]=Tux Football
Comment=A fun soccer game starring Tux the penguin
Comment[ar]=لعبة كرة القدم الممتعة بنجومية تكس، البطريق
Comment[bn]=টাক্স দ্য পেঙ্গুইনকে নিয়ে একটি মজাদান ফুটবল খেলা
Comment[de]=Ein lustiges Fußballspiel mit Tux dem Pinguin
Comment[es]=Juega fútbol con Tux el pingüino
Comment[fr]=Un jeu de football amusant mettant en scène Tux le pingouin
Comment[hi]=मजेदार सॉकर गेम जिसमें पेंगुइन टक्स है 
Comment[id]=Permainan sepak bola seru yang menampilkan Tux si pinguin
Comment[pt_BR]=Um divertido jogo de futebol - estrelando Tux, o pinguim
Comment[ro]=Un joc de fotbal amuzant cu pinguinul Tux
Comment[th]=เกมฟุตบอลแสนสนุกที่แสดงโดยนกเพนกวิน Tux 
Comment[vi]=Trò chơi bóng đá vui nhộn với ngôi sao là chú chim cánh cụt Tux
Comment[zh_CN]=以Tux企鹅为主角的足球游戏
Comment[zh_TW]=企鵝 Tux 的有趣足球遊戲
Type=Application
Exec=tuxfootball -fs
Icon=eos-app-net.sourceforge.Tuxfootball
Categories=Game;
X-Endless-LaunchMaximized=true
