[Desktop Entry]
Version=1.0
Name=Minetest
Name[ar]=لعبة ماين تيست
Name[bn]=মাইনটেস্ট
Name[de]=Minetest
Name[es]=Minetest
Name[fr]=Minetest
Name[hi]=माइनटेस्ट
Name[id]=Minetest
Name[pt_BR]=Minetest
Name[ro]=Minetest
Name[th]=Minetest
Name[vi]=Minetest
Name[zh_CN]=Minetest
Name[zh_TW]=Minetest
Comment=Create your dream world
Comment[ar]=أنشئ عالم أحلامك
Comment[bn]=আপনার স্বপ্নের জগৎ তৈরি করুন
Comment[de]=Erstelle deine Traumwelt
Comment[es]=Crea el mundo de tus sueños
Comment[fr]=Créez le monde de vos rêves
Comment[hi]=अपने सपनों की दुनिया सजाएं 
Comment[id]=Ciptakan dunia impian Anda
Comment[pt_BR]=Crie o mundo dos seus sonhos
Comment[ro]=Creeaza lumea ta de vis
Comment[th]=สร้างโลกในฝันของคุณ
Comment[vi]=Tạo ra thế giới mơ ước của bạn
Comment[zh_CN]=建造您的理想世界
Comment[zh_TW]=建立您的夢想世界
Type=Application
Exec=minetest
Icon=eos-app-net.minetest.Minetest
Categories=Game;
X-Endless-LaunchMaximized=true
