[Desktop Entry]
Version=1.0
Name=3D CAD
Comment=Create 3D CAD models
Type=Application
Exec=openscad %f
Icon=eos-app-openscad
Categories=Utility;
X-Endless-LaunchMaximized=true
