[Desktop Entry]
Version=1.0
Name=3D CAD
Name[ar]=التصميم  ثُلاثي الأبعاد بِمُساعدة الكمبيوتر
Name[es]=3D CAD
Name[fr]=3D CAD
Name[pt_BR]=CAD 3D
Comment=Create 3D CAD models
Comment[ar]=قُم بإنشاء نماذِج للتصميم ثُلاثي الأبعاد بمساعدة الكمبيوتر
Comment[es]=Crea modelos CAD en 3D
Comment[fr]=Créer des modèles 3D CAD
Comment[pt_BR]=Crie modelos 3D em CAD
Type=Application
Exec=openscad %f
Icon=eos-app-openscad
Categories=Utility;
X-Endless-LaunchMaximized=true
