[Desktop Entry]
Version=1.0
Name=Numpty Physics
Name[ar]=لعبة الرسوم نبتي فيزيكس
Name[bn]=নাম্পটি পদার্থবিদ্যা
Name[es]=Física numpty
Name[fr]= Numpty Physics
Name[hi]=नम्पटी फिजिक्स
Name[id]=Numpty Physics
Name[pt_BR]=Fisica Legal
Name[ro]=Numpty Physics
Name[th]=Numpty Physics
Name[vi]=Nhà vật lý ngớ ngẩn
Name[zh_CN]=Numpty Physics
Name[zh_TW]=Numpty Physics
Comment=Fun physics puzzle games
Comment[ar]=ألعاب ألغاز فيزيائية (جسدية) ممتعة
Comment[bn]=পদার্থবিদ্যার মজার ধাঁধার খেলা
Comment[es]=Rompecabezas que utilizan tu conocimiento de la física
Comment[fr]=Jeux de puzzle de physique amusante
Comment[hi]=मजेदार फिजिक्स पहेली गेम
Comment[id]=Gim puzzle fisika yang seru
Comment[pt_BR]=Jogos nos quais a física é necessária para resolver quebra-cabeças
Comment[ro]=Joc puzzle din fizica
Comment[th]=เกมปริศนาฟิสิกส์ที่แสนสนุก
Comment[vi]=Trò chơi giải đố vật lý vui nhộn
Comment[zh_CN]=有趣的物理类益智游戏
Comment[zh_TW]=有趣的物理益智遊戲
Type=Application
Exec=numptyphysics
Icon=eos-app-org.maemo.Numptyphysics
Categories=Game;
X-Endless-LaunchMaximized=false
