[Desktop Entry]
Version=1.0
Name=KNetwalk
Name[ar]=كي نتووك
Name[bn]=কেনেটওয়াক
Name[es]=Cables
Name[fr]=KNetwalk
Name[hi]=केनेटवॉक
Name[id]=KNetwalk
Name[pt_BR]=KNetwalk
Name[ro]=KNetwalk
Name[th]=KNetwalk
Name[vi]=KNetwalk
Name[zh_CN]=KNetwalk
Comment=Make the right cable connections and win
Comment[ar]=أنجز توصيلات الكابلات الصحيحة وحقق الفوز
Comment[bn]=যথাযথ তারগুলো সংযুক্ত করে খেলা জিতুন
Comment[es]=Haz las conexiones correctas para ganar
Comment[fr]=Faites la bonne connexion de câbles pour gagner
Comment[hi]=सही केबल कनेक्शन कीजिए और जीतिए
Comment[id]=Buatlah koneksi kabel yang tepat untuk menang
Comment[pt_BR]=Conecte os cabos corretamente e vença 
Comment[ro]=Conecteaza corect cablurile ca sa castigi
Comment[th]=ทำการเชื่อมต่อเคเบิลให้ถูกต้องและชนะ
Comment[vi]=Nối đúng cáp để giành chiến thắng
Comment[zh_CN]=连接正确电报以获胜
Type=Application
Exec=knetwalk -caption %c
Icon=eos-app-org.kde.Knetwalk
Categories=Game;
X-Endless-LaunchMaximized=true
