[Desktop Entry]
Version=1.0
Name=GIMP
Name[ar]=برنامج معالجة الصور
Name[bn]=GIMP
Name[es]=GIMP
Name[fr]=GIMP
Name[hi]=जीआईएमपी
Name[id]=GIMP
Name[pt_BR]=GIMP
Name[ro]=GIMP
Name[th]=GIMP
Name[vi]=GIMP
Name[zh_CN]=GIMP
Comment=Advanced image editing tool similar to Photoshop
Comment[ar]=أداة تحرير صور متطورة تشبه الفوتوشوب
Comment[bn]=ফটোশপের মতোই আরেকটি অগ্রবর্তী ছবি সম্পাদনাকারী টুল
Comment[es]=Editor de fotos avanzado y parecido a Photoshop
Comment[fr]=Outil avancé d'édition d'image similaire à Photoshop
Comment[hi]=फोटोशॉप की तरह ऐडवांस्ड इमेज एडिटिंग टूल 
Comment[id]=Peranti lunak penyunting gambar canggih yang serupa dengan Photoshop
Comment[pt_BR]=Ferramenta de edição e retoque de imagens
Comment[ro]=Unealta de editare imagini avansata,similara cu Photoshop
Comment[th]=เครื่องมือปรับแต่งภาพขั้นสูงคล้ายกับ Photoshop
Comment[vi]=Công cụ chỉnh sửa hình ảnh cao cấp tương tự như Photoshop
Comment[zh_CN]=类似Photoshop的高级图片编辑器
Type=Application
Exec=gimp %U
Icon=eos-app-org.gimp.Gimp
Categories=Graphics;
X-Endless-LaunchMaximized=true
