[Desktop Entry]
Version=1.0
Name=Wesnoth
Name[ar]=لعبة ويزنوث 
Name[bn]=ওয়েসনথ
Name[de]=Wesnoth
Name[es]=Wesnoth
Name[fr]=Wesnoth
Name[hi]=वेस्नॉथ 
Name[id]=Wesnoth
Name[pt_BR]=Wesnoth
Name[ro]=Wesnoth
Name[th]=Wesnoth
Name[vi]=Wesnoth
Name[zh_CN]=Wesnoth
Name[zh_TW]=Wesnoth
Comment=Fantasy turn-based strategy game
Comment[ar]=لعبة استراتيجية قائمة على تبدل الخيال
Comment[bn]=ফ্যান্টাসি নির্ভর কৌশলগত খেলা
Comment[de]=Ein rundenbasiertes Fantasy-Strategiespiel
Comment[es]=Juego de estrategia basado en la fantasía
Comment[fr]=Jeu de stratégie fantastique au tour par tour
Comment[hi]=फैंटसी टर्न-आधारित रणनीति गेम 
Comment[id]=Permainan strategi berbasis giliran dengan tema fantasi
Comment[pt_BR]=Jogo de estratégia baseado em Fantasia
Comment[ro]=Joc strategic
Comment[th]=เกมกลยุทธ์แฟนตาซีแบบผลัดกันเล่น
Comment[vi]=Trò chơi chiến thuật theo lượt theo thể loại fantasy
Comment[zh_CN]=奇幻的回合制策略游戏
Comment[zh_TW]=奇幻回合式戰略遊戲
Type=Application
Exec=resfix wesnoth-1.11 -f
TryExec=wesnoth-1.11
Icon=eos-app-org.wesnoth.Wesnoth
Categories=Game;
X-Endless-LaunchMaximized=true
