[Desktop Entry]
Version=1.0
Name=Kobo Deluxe
Name[ar]=كوبو ديلوكس
Name[es]=Kobo deluxe
Name[fr]=Kobo Deluxe
Name[hi]=कोबो डीलक्स
Name[id]=Kobo Deluxe
Name[pt_BR]=Kobo Deluxe
Name[th]=Kobo Deluxe
Name[vi]=Kobo Deluxe
Name[zh_CN]=Kobo Deluxe
Comment=Destroy enemy bases in space
Comment[ar]=دمر قواعد الأعداء في الفضاء
Comment[es]=Destruye las bases enemigas en el espacio
Comment[fr]=Détruisez les bases ennemies dans l'espace
Comment[hi]=अंतरिक्ष में दुश्मन के ठिकानों को नष्ट कीजिए
Comment[id]=Hancurkan markas musuh di luar angkasa
Comment[pt_BR]=Destrua as bases inimigas no espaço
Comment[th]=ทำลายฐานศัตรูในอวกาศ
Comment[vi]=Phá hủy căn cứ của kẻ thù trong không gian
Comment[zh_CN]=从空间上摧毁敌人基地
Type=Application
Exec=resfix "kobodl -fullscreen"
TryExec=kobodl
Icon=eos-app-org.kde.Kobodeluxe
Categories=Games;
X-Endless-LaunchMaximized=true
