[Desktop Entry]
Version=1.0
Name=Mind Maps
Name[ar]=الخرائط الذهنية
Name[bn]=মাইন্ড ম্যাপ
Name[es]=Mapas mentales
Name[fr]=Cartes heuristiques
Name[hi]=माइंड मैप्स
Name[id]=Peta Pikiran
Name[pt_BR]=Mapas mentais
Name[ro]=Mind Maps
Name[th]=แผนที่ความคิด
Name[vi]=Bản đồ tư duy
Name[zh_CN]=思维导图
Name[zh_TW]=Mind Maps
Comment=Create mind maps with text, images, and drawings
Comment[ar]=كوّن خرائط ذهنيّة باستخدام النصوص والصور، والرسومات
Comment[bn]=লেখা, ছবি আর অঙ্কন দিয়ে মাইন্ড ম্যাপ তৈরি করুন
Comment[es]=Crea mapas mentales con texto, imágenes y dibujos
Comment[fr]=Créez des cartes heuristiques avec du texte, des images, et des dessins
Comment[hi]=टेक्स्ट, इमेजों और ड्रॉइंग्स के साथ बनाइए माइंड मैप्स
Comment[id]=Ciptakan peta pikiran dengan teks, garis, dan gambar
Comment[pt_BR]=Crie mapas mentais com textos, imagens e desenhos
Comment[ro]=Creeaza harti ale mintii cu texte,imagini,si desene
Comment[th]=สร้างแผนที่ความคิดด้วยข้อความ ภาพ และวาดภาพ
Comment[vi]=Tạo bản đồ tư duy với ký tự, hình ảnh và hình vẽ
Comment[zh_CN]=用文本、图像、草图创建思维导图
Comment[zh_TW]=使用文字、影像和圖畫建立心智圖
Type=Application
Exec=labyrinth
Icon=eos-app-org.gnome.people.dscorgie.Labyrinth
Categories=Education;
X-Endless-LaunchMaximized=true
