[Desktop Entry]
Version=1.0
Name=Videos
Name[ar]=فيديوز
Name[bn]=ভিডিও
Name[es]=Videos
Name[fr]=Vidéos
Name[hi]=वीडियोज
Name[id]=Video
Name[pt_BR]=Vídeos
Name[ro]=Video
Name[th]=วีดีโอ
Name[vi]=Video
Name[zh_CN]=视频
Name[zh_TW]=影片
Comment=Full function video and media player
Comment[ar]=فيديو بخصائص كاملة و مشغل وسائط
Comment[bn]=সম্পূর্ণ কার্যকরী ভিডিও এবং মিডিয়া প্লেয়ার
Comment[es]=Todo lo que necesitas para ver tus videos y multimedia
Comment[fr]=Lecteur multimédia multifonctions
Comment[hi]=फुल फंक्शन वीडियो और मीडियो प्लेयर
Comment[id]=Pemutar video dan media dengan fungsi penuh
Comment[pt_BR]=Leitor de vídeo e outros formatos de mídia.
Comment[ro]=Un media player complet functional
Comment[th]=วิดีโอฟังก์ชั่นเต็มรูปแบบและเครื่องเล่นสื่อ
Comment[vi]=Trình phát video và giải trí đầy đủ chức năng
Comment[zh_CN]=功能齐全的视频媒体播放器
Comment[zh_TW]=全功能影片及媒體播放工具
Type=Application
Exec=sh -c "totem --pause `xdg-user-dir VIDEOS`"
TryExec=totem
Icon=eos-app-org.gnome.Totem
Categories=AudioVideo;
X-Endless-LaunchMaximized=true
