[Desktop Entry]
Version=1.0
Name=Gedit
Name[ar]=جيديت
Name[es]=Gedit
Name[fr]=Gedit
Name[id]=Gedit
Name[pt_BR]=Gedit
Name[zh]=Gedit
Name[zh_CN]=Gedit
Comment=A simple text editor for all of your text editing needs
Comment[ar]=محرر نصوص بسيط لجميع احتياجاتك التحريرية
Comment[es]=Un editor de texto para todas tus necesidades
Comment[fr]=Un éditeur de texte simple pour tous vos besoins d'édition de texte
Comment[id]=Penyunting teks sederhana untuk seluruh kebutuhan penyuntingan teks Anda
Comment[pt_BR]=Um simples editor de texto para todas as suas necessidades
Comment[zh]=一个可以满足您各种文本编辑需求的简单文本编辑器
Comment[zh_CN]=一个可以满足您各种文本编辑需求的简单文本编辑器
Type=Application
Exec=gedit %U
Icon=eos-app-org.gnome.gedit
Categories=Utility;
X-Endless-LaunchMaximized=true
