[Desktop Entry]
Version=1.0
Name=Maps
Name[ar]=خرائط
Name[bn]=মানচিত্র
Name[es]=Mapas
Name[fr]=Maps
Name[hi]=मैप्स 
Name[id]=Peta
Name[pt_BR]=Mapas
Name[ro]=Harti
Name[th]=แผนที่
Name[vi]=Bản đồ
Name[zh_CN]=地图
Comment=Maps of the entire world
Comment[ar]=خرائط العالم
Comment[bn]=পুরো বিশ্বের মানচিত্র
Comment[es]=Mapas de todo el mundo
Comment[fr]=Cartes du monde entier
Comment[hi]=दुनिया भर के नक्शे 
Comment[id]=Peta seluruh dunia
Comment[pt_BR]=Mapas de todo o mundo
Comment[ro]=Harta intregii lumi
Comment[th]=แผนที่ทั่วทั้งโลก
Comment[vi]=Bản đồ toàn thế giới
Comment[zh_CN]=全景地图
Type=Application
Exec=marble --geometry 1920x1080+0+0
Icon=eos-app-org.kde.Marble
Categories=Education;
X-Endless-LaunchMaximized=true
