[Desktop Entry]
Version=1.0
Name=Music
Name[ar]=موسيقى
Name[bn]=সঙ্গীত
Name[de]=Musik
Name[es]=Música
Name[fr]=Musique
Name[hi]=म्यूजिक
Name[id]=Musik
Name[pt_BR]=Música
Name[ro]=Muzica
Name[th]=ดนตรี
Name[vi]=Âm nhạc
Name[zh_CN]=音乐
Name[zh_TW]=音樂
Comment=Listen to all your music, and to the radio
Comment[ar]=استمع إلى كل الموسيقى المفضلة لك، و استمع إلى المذياع
Comment[bn]=আপনার সকল গান শুনুন, এবং রেডিও শুনুন
Comment[es]=Organiza tu música digital y escucha la radio por Internet
Comment[fr]=Écoutez toute votre musique ainsi que la radio
Comment[hi]=अपने सभी म्यूजिक, और रेडियो सुनें 
Comment[id]=Dengarkan semua musik Anda dan radio
Comment[pt_BR]=Reprodutor de áudio e rádio que reproduz e ajuda a organizar música digital
Comment[ro]=Asculta toata muzica ta,si la radio
Comment[th]=ฟังวิทยุและดนตรีของคุณทั้งหมด
Comment[vi]=Nghe các bản nhạc của bạn và nghe đài
Comment[zh_CN]=可以播放音乐、收听广播
Comment[zh_TW]=聆聽你的所有音樂以及廣播
Type=Application
Exec=rhythmbox %U
Icon=eos-app-rhythmbox
Categories=AudioVideo;
X-Endless-LaunchMaximized=true
