[Desktop Entry]
Version=1.0
Name=Photos
Name[ar]=الصور
Name[es]=Fotos
Name[fr]=Photos
Name[id]=Foto
Name[pt_BR]=Fotos
Name[zh]=照片
Name[zh_CN]=照片
Comment=Easily edit, organize, and share photos.
Comment[ar]=بإمكانك بسهولة كبيرة القيام بتحرير و تنظيم و مشاركة الصور.
Comment[es]=Importa, edita, organiza y comparte tus fotografías
Comment[fr]=Éditez, organisez et partagez facilement vos photos.
Comment[id]=Mengedit, mengelola dan membagi foto dengan mudah.
Comment[pt_BR]=Facilita a edição, organização e compartilhamento de fotos.
Comment[zh]=可对照片进行编辑、整理、分享，操作简便
Comment[zh_CN]=可对照片进行编辑、整理、分享，操作简便
Type=Application
Exec=shotwell %U
Icon=eos-app-shotwell
Categories=Utility;
X-Endless-LaunchMaximized=true
