[Desktop Entry]
Version=1.0
Name=Simple Scan
Name[ar]=فحص بسيط
Name[es]=Escáner
Name[fr]=Un simple balayage
Comment=Make a digital copy of your photos and documents
Comment[es]=Haz copias digitales de tus fotos y documentos
Type=Application
Exec=simple-scan
Icon=eos-app-simple-scan
Categories=Utility;
X-Endless-LaunchMaximized=true
