[Desktop Entry]
Version=1.0
Name=Steam
Name[ar]=البخار
Name[es]=Steam
Name[fr]=Steam
Name[pt]=Steam
Comment=Browse hundreds of the most popular games online
Comment[ar]=تصفح المئات من أشهر الألعاب على الإنترنت.
Comment[es]=Encuentra y explorar los juegos más populares en línea
Comment[fr]=Naviguez entre des centaines des jeux en ligne les plus populaires
Comment[pt]=Navegue centenas dos mais populares jogos on-line
Type=Application
Exec=steam
Icon=eos-app-steam
Categories=Games;
X-Endless-LaunchMaximized=true
