[Desktop Entry]
Version=1.0
Name=Steam
Name[es]=Steam
Comment=Browse hundreds of the most popular games online
Type=Application
Exec=steam
Icon=eos-app-steam
Categories=Games;
X-Endless-LaunchMaximized=true
