[Desktop Entry]
Version=1.0
Name=Steam
Name[ar]=البخار
Name[es]=Steam
Name[fr]=Steam
Name[id]=Uap
Name[pt_BR]=Steam
Name[zh]=Steam
Name[zh_CN]=Steam
Comment=Online store with popular video games
Comment[ar]=متجر على الإنترنت لألعاب الفيديو الشعبية
Comment[es]=Tienda en línea con video juegos populares
Comment[fr]=Magasin en ligne avec des jeux vidéo populaires
Comment[id]=Toko online dengan video game populer
Comment[pt_BR]=Loja virtual com jogos populares
Comment[zh]=涵盖各款流行电子游戏的在线商城
Comment[zh_CN]=涵盖各款流行电子游戏的在线商城
Type=Application
Exec=steam
Icon=eos-app-steam
Categories=Games;
X-Endless-LaunchMaximized=true
