[Desktop Entry]
Version=1.0
Name=Tux Kart
Name[ar]=تكس كارت (بطريق السيارت)
Name[es]=Tux Kart
Name[pt]=Tux Kart
Comment=Race alone or against your friends and family
Comment[ar]=تنافس في السباق مع أصدقائك أومع عائلتك
Comment[es]=Juega solo o contra tus amigos o familia
Comment[pt]=Jogo de corridas com personagens coloridos e pistas originais
Type=Application
Exec=resfix supertuxkart --fullscreen
TryExec=supertuxkart
Icon=eos-app-supertuxkart
Categories=Games;
X-Endless-LaunchMaximized=true
