[Desktop Entry]
Version=1.0
Name=Super Tux
Name[es]=Super Tux
Name[pt]=Super Tux
Comment=Jump your way through different levels to win
Comment[es]=Salta los obstáculos para ganar
Comment[pt]=Clássico jogo corre e pula em estilo arcade
Type=Application
Exec=resfix supertux2 --fullscreen
TryExec=supertux2
Icon=eos-app-supertux
Categories=Games;
X-Endless-LaunchMaximized=true
