[Desktop Entry]
Version=1.0
Name=TORCS
Name[es]=TORCS
Comment=Race cool 3D cars in this realistic game
Comment[es]=Juego de carreras en 3D
Type=Application
Exec=torcs
Icon=eos-app-torcs
Categories=Games;
X-Endless-LaunchMaximized=true
