[Desktop Entry]
Version=1.0
Name=TORCS
Comment=3D racing cars simulator game using OpenGL
Type=Application
Exec=torcs
Icon=torcs
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
