[Desktop Entry]
Version=1.0
Name=TORCS
Name[ar]=تورس (لعبة سباق السيارات)
Name[es]=TORCS
Name[pt]=TORCS
Comment=Race cool 3D cars in this realistic game
Comment[ar]=سباق السيارات الثلاثي الأبعاد في هذه اللعبة الواقعية
Comment[es]=Juego de carreras en 3D
Comment[pt]=Jogo de incríveis corridas 3D
Type=Application
Exec=torcs
Icon=eos-app-torcs
Categories=Games;
X-Endless-LaunchMaximized=true
