[Desktop Entry]
Version=1.0
Name=Turtle Blocks
Comment=Visually program with turtle art
Type=Application
Exec=turtleblocks
Icon=eos-app-turtleblocks
Categories=Education;
X-Endless-LaunchMaximized=true
