[Desktop Entry]
Version=1.0
Name=Tux Football
Name[ar]=تكس كرة القدم
Name[es]=Tux fútbol
Name[fr]=Tux Football
Name[pt_BR]=Tux Futebol
Comment=A fun soccer game starring Tux the penguin
Comment[ar]=لعبة كرة القدم الممتعة بنجومية تكس، البطريق
Comment[es]=Juega fútbol con Tux el pingüino
Comment[fr]=Un jeu de football amusant mettant en scène Tux le pingouin
Comment[pt_BR]=Um divertido jogo de futebol - estrelando Tux, o pinguim
Type=Application
Exec=tuxfootball -fs
Icon=eos-app-tuxfootball
Categories=Games;
X-Endless-LaunchMaximized=true
