[Desktop Entry]
Version=1.0
Name=Tux Math
Name[ar]=تكس ماث (بطريق الرياضيات)
Name[es]=123 Tux
Name[fr]=Tux Math
Name[id]=Matematika Tux
Name[pt_BR]=123 Tux
Name[zh]=Tux Math
Name[zh_CN]=Tux Math
Comment=Math games for kids
Comment[ar]=ألعاب الرياضيات للأطفال
Comment[es]=Juegos para que los niños aprendan matemáticas
Comment[fr]=Jeux mathématiques pour les enfants
Comment[id]=Permainan matematika untuk anak-anak
Comment[pt_BR]=Jogo de estilo Arcade que ajuda as crianças a estudarem matemática
Comment[zh]=儿童数学游戏
Comment[zh_CN]=儿童数学游戏
Type=Application
Exec=tuxmath
Icon=eos-app-tuxmath
Categories=Games;
X-Endless-LaunchMaximized=true
