[Desktop Entry]
Version=1.0
Name=Tux Paint
Name[es]=Tux Paint
Name[pt]=Tux Paint
Comment=A fun drawing app for kids
Comment[es]=Una app sencilla y divertida para que niños dibujen
Comment[pt]=Um aplicativo de desenho divertido para crianças
Type=Application
Exec=tuxpaint --fullscreen --native
Icon=tuxpaint
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
