[Desktop Entry]
Version=1.0
Name=Tux Paint
Name[ar]=تكس بينت 
Name[es]=Pinta Tux
Name[fr]=Tux Paint
Name[id]=Tux Paint
Name[pt_BR]=Tux Paint
Name[zh]=Tux Paint
Name[zh_CN]=Tux Paint
Comment=A fun drawing app for kids
Comment[ar]=تطبيق رسم ممتع للأطفال
Comment[es]=Un programa sencillo y divertido para que niños dibujen
Comment[fr]=Une application amusante de dessin pour les enfants
Comment[id]=Aplikasi menggambar menyenangkan bagi anak-anak
Comment[pt_BR]=Um programa de desenho divertido para crianças
Comment[zh]=儿童绘画软件
Comment[zh_CN]=儿童绘画软件
Type=Application
Exec=tuxpaint --fullscreen --native
Icon=eos-app-tuxpaint
Categories=Games;
X-Endless-LaunchMaximized=true
