[Desktop Entry]
Version=1.0
Name=Tux Paint
Name[es]=Pinta Tux
Name[pt]=Tux Paint
Comment=A fun drawing app for kids
Comment[es]=Una app sencilla y divertida para que niños dibujen
Comment[pt]=Um aplicativo de desenho divertido para crianças
Type=Application
Exec=tuxpaint --fullscreen --native
Icon=eos-app-tuxpaint
Categories=Games;
X-Endless-LaunchMaximized=true
