[Desktop Entry]
Version=1.0
Name=Tux Puck
Comment=Air hockey game for single players
Type=Application
Exec=tuxpuck
Icon=eos-app-tuxpuck
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
