[Desktop Entry]
Version=1.0
Name=Tux Puck
Name[es]=Tux Puck
Comment=Exciting air hockey game for you and your friends
Comment[es]=Juega a hockey de mesa con tus amigos
Comment[pt]=Emocionante jogo de hóquei aéreo para você e seus amigos
Type=Application
Exec=tuxpuck
Icon=eos-app-tuxpuck
Categories=Games;
X-Endless-LaunchMaximized=true
