[Desktop Entry]
Version=1.0
Name=Remote Desktop
Comment=Manage your desktop from afar
Type=Application
Exec=vinagre %U
Icon=eos-app-vinagre
Categories=Utility;
X-Endless-LaunchMaximized=true
