[Desktop Entry]
Version=1.0
Name=Warzone 2100
Comment=3D real time strategy game
Comment[es]=Juego de estrategia en tiempo real y en tres dimensiones
Type=Application
Exec=warzone2100 --fullscreen
Icon=eos-app-warzone2100
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
