[Desktop Entry]
Version=1.0
Name=Wesnoth
Comment=Fantasy turn-based strategy game
Comment[es]=Juego de estrategia basado en la fantasía
Type=Application
Exec=wesnoth -f
Icon=eos-app-wesnoth-1.11
Categories=Games;
X-Endless-LaunchMaximized=true
