[Desktop Entry]
Version=1.0
Name=X-Moto
Comment=2D motocross platform game
Type=Application
Exec=xmoto
Icon=eos-app-xmoto
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
