[Desktop Entry]
Version=1.0
Name=Documents
Name[ar]=وثائق
Name[es]=Documentos
Name[pt]=Documentos
Comment=Access all of your documents and files
Comment[ar]=تَوصل إلى جميع الوثائق والملفات الخاصة بك
Comment[es]=Accede todos los documentos y archivos
Comment[pt]=Gerenciador de Arquivos
Type=Application
Exec=eos-file-manager %U
Icon=eos-app-eos-file-manager
Categories=Utility;
X-Endless-LaunchMaximized=false
