[Desktop Entry]
Version=1.0
Name=Tux Kart
Name[es]=Tux Kart
Name[pt]=Tux Kart
Comment=Racing game with colorful characters and imaginative tracks
Comment[es]=Juego de carreras con varias  pistas desafiantes
Comment[pt]=Jogo de corridas com personagens coloridos e pistas originais
Type=Application
Exec=resfix supertuxkart --fullscreen
TryExec=supertuxkart
Icon=eos-app-supertuxkart
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=false
