[Desktop Entry]
Version=1.0
Name=Kubrick
Comment=Game based on Rubik's Cube
Type=Application
Exec=kubrick
Icon=eos-app-kubrick
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
