[Desktop Entry]
Version=1.0
Name=Documents
Name[es]=Documentos
Name[pt]=Documentos
Comment=File manager
Comment[es]=Administrador de archivos
Comment[pt]=Gerenciador de Arquivos
Type=Application
Exec=eos-file-manager %U
Icon=eos-app-eos-file-manager
Categories=
X-Endless-ShowInAppStore=false
X-Endless-LaunchMaximized=true
