[Desktop Entry]
Version=1.0
Name=Internet
Name[ar]=الإنترنت
Name[es]=Internet
Name[fr]=Internet
Name[pt_BR]=Internet
Comment=Browse the Web
Comment[ar]=تصفح الويب
Comment[es]=Explora el internet
Comment[fr]=Parcourez le web
Comment[pt_BR]=Navegue na internet
Type=Application
Exec=chromium-browser %U
Icon=eos-app-chromium-browser
Categories=Utility;
X-Endless-LaunchMaximized=true
