[Desktop Entry]
Version=1.0
Name=Learn English
Name[es]=Aprende Inglés
Name[pt]=Aprenda Inglês
Comment=Learn or improve your English while having fun
Comment[es]=¡Aprende o mejora tu inglés mientras divirtiéndote!
Type=Application
Exec=eos-english
Icon=eos-app-english
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
X-Endless-SplashBackground=/usr/share/EndlessOS/splash/english-splash.jpg
