[Desktop Entry]
Version=1.0
Name=GCompris Admin
Comment=Teacher admin console for GCompris
Type=Application
Exec=gcompris --administration
Icon=eos-app-gcompris-admin
Categories=Education;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
