[Desktop Entry]
Version=1.0
Name=Cheese
Name[es]=Sonrisas
Comment=Take pictures of yourself and your friends with this fun photobooth app
Comment[es]=Toma fotos chistosas y bellas de ti y de tus amigos
Type=Application
Exec=cheese
Icon=eos-app-cheese
Categories=Leisure;
X-Endless-LaunchMaximized=true
