[Desktop Entry]
Version=1.0
Name=KNetwalk
Comment=Wire puzzle game
Type=Application
Exec=knetwalk -caption %c
Icon=eos-app-knetwalk
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
