[Desktop Entry]
Version=1.0
Name=Battle Tanks
Comment=Fast 2D tank arcade game with multiplayer and split-screen modes
Type=Application
Exec=btanks
Icon=eos-app-btanks
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-LaunchMaximized=true
