[Desktop Entry]
Version=1.0
Name=Math
Name[es]=Matemáticas
Name[pt]=Matemáticas
Comment= Numerical computing environment and programming language
Comment[es]=Usa esta calculadora para computar funciones difíciles
Type=Application
Exec=gnome-genius
Icon=eos-app-gnome-genius
Categories=Utility;
X-Endless-ShowInAppStore=true
