[Desktop Entry]
Version=1.0
Name=Iagno
Comment=temp subtitle
Type=Application
Exec=iagno
Icon=eos-app-iagno
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
