[Desktop Entry]
Version=1.0
Name=Videos
Name[ar]=فيديوز
Name[es]=Videos
Name[fr]=Vidéos
Name[pt]=Vídeos
Comment=Full function video and media player
Comment[ar]=فيديو بخصائص كاملة و مشغل وسائط
Comment[es]=Todo lo que necesitas para ver tus videos y multimedia
Comment[fr]=Lecteur multimédia multifonctions
Comment[pt]=Leitor de vídeo e outros formatos de mídia.
Type=Application
Exec=sh -c "totem --pause `xdg-user-dir VIDEOS`"
TryExec=totem
Icon=eos-app-totem
Categories=Utility;
X-Endless-LaunchMaximized=true
