[Desktop Entry]
Version=1.0
Name=BlockOut 2
Name[es]=BlockOut 2
Name[pt]=BlockOut 2
Comment=3D Tetris-style game
Comment[es]=¡Este es el juego clásico de Tetris que amas, pero en 3D!
Comment[pt]=Tetris 3D
Type=Application
Exec=blockout2
Icon=eos-app-blockout2
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
