[Desktop Entry]
Version=1.0
Name=Writer
Name[es]=Escritor
Name[pt]=Redator
Comment=Full-featured word processing and desktop publishing tool
Comment[es]=Parecido a y compatible con Microsoft Word, pero gratis
Type=Application
Exec=libreoffice --writer %U
Icon=eos-app-libreoffice-writer
Categories=Utility;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
