[Desktop Entry]
Version=1.0
Name=Screenshot
Name[es]=Capturalo
Name[pt]=Captura de tela
Comment=Take a picture of your screen to save
Comment[es]=Toma una foto de tu pantalla y guárdala
Type=Application
Exec=gnome-screenshot --interactive
Icon=eos-app-gnome-screenshot
Categories=Utility;
X-Endless-LaunchMaximized=false
