[Desktop Entry]
Version=1.0
Name=KSnake
Comment=Classical snake action game
Type=Application
Exec=ktron --geometry 1920x1080+0+0 -snake -caption %c %i
Icon=eos-app-ksnake
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
