[Desktop Entry]
Version=1.0
Name=Kigo
Comment=Go game
Type=Application
Exec=kigo %i -caption %c
Icon=eos-app-kigo
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
