[Desktop Entry]
Version=1.0
Name=Tux Racer
Comment=3D racing game featuring Tux, the Linux penguin
Type=Application
Exec=etracer
Icon=eos-app-extremetuxracer
Categories=Leisure;
X-Endless-ShowInAppStore=true
X-Endless-SplashScreen=true
