[Desktop Entry]
Version=1.0
Name=Geography App
Comment=temp subtitle
Type=Application
Exec=temp_exec
Icon=eos-app-temp_app_id
Categories=
X-Endless-ShowInAppStore=false
X-Endless-LaunchMaximized=true
