Source: eos-shell-content
Section: non-free/misc
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Uploaders: Roddy Shuler <roddy@endlessm.com>
Build-Depends: debhelper (>= 7),
               pkg-config,
               libjson-glib-dev,
               libglib2.0-dev,
               libgtk2.0-bin,
               perl
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-shell-content
Architecture: all
Depends: ${misc:Depends}
Recommends: eos-theme
Description: Endless OS Shell Content installation package
 This package will install the content for the app store

Package: eos-acknowledgements
Architecture: all
Depends: ${misc:Depends}
Description: EndlessOS Acknowledements
 Image attributions and list of Kickstarter backers.

Package: eos-shell-content-dev
Architecture: all
Priority: optional
Depends: eos-shell-content (= ${binary:Version}),
         ${misc:Depends},
         ${perl:Depends},
         debhelper,
         libjson-perl,
         python3
Description: Endless OS Shell Content installation package - dev files
 This package will install the content to build bundles for the app
 store.
